@import "compass";
@import "slick/slick";
@import "slick/slick-theme";
@import "_rfs";


$black: #000000;
$white: #ffffff;
$grey: lighten($black,10%); 
$lightgrey: lighten($black,30%); 
$lightergrey: lighten($black,80%); 
$palegrey: #F3F5F5;
$beige: #ECECE5;

$borderWidth: 3px;

$mega-menu-bg: $black;
$mega-menu-text: $white	;

$btnColor: #A8A8A5;
$btnHoverColor: darken($btnColor,10%);

$hoverColor: #E9E7E1;

//https://wemo.tech/1155
$font-ja: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
$font-midashi: "見出ゴMB1", "ゴシックMB101 DB", $font-ja;
//$font-ja: "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
$font-en: 'Roboto', sans-serif;


/*
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
*/

/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #000;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hide-on-sp
{
	@media only screen and (max-width: 1023px)
	{
		display: none !important;
	}
}
.hide-on-pc
{
	@media only screen and (min-width: 1024px)
	{
		display: none !important;
	}
}


*
{
	box-sizing: border-box;
}

html, body
{
    overflow-x: hidden;
}

pre
{
	word-break: break-word;
}

dl 
{   		
	ul
	{
		list-style-position: inside;
		padding-left: 0;
		margin-bottom: 1em;
	}
	
	dt
	{
		margin-top: 2em;
		border-bottom: solid 1px $grey;
	}
	
	dd
	{
		margin-left: 0;
	}
	
	@media only screen and (min-width: 1024px)
	{
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		
		&, dt, dd 
		{
		  box-sizing: border-box;
		}
		
		dt,
		dd {
		}
		
		dt {
		  width: 30%;
		  margin-top: 0;
		  border: none;
		  float: left;
		}
		
		dd {
		  margin-left: 30%;
		}
		
		dd:after {
		  content: '';
		  display: block;
		  clear: both;
		}
	}
}



html body 
{
	font-family: $font-ja;
	font-feature-settings : "palt" 1;
	letter-spacing: .08em;
	font-weight: 500;
}


h1, h2, h3, h4, h5, h6
{
	font-family: $font-midashi;
	font-weight: bold;
	letter-spacing: .02em;
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: .5em;
	
	&.en
	{
		font-family: $font-en;
		letter-spacing: .03em;
	}
}

h2
{		
	.ja
	{
		font-size: 28px;
		
		@media only screen and (min-width: 1024px)
		{
			font-size: 40px;
		}
	}
	
	.en
	{
		@extend .font-en;
		font-size: 10px;
		display: block;
		letter-spacing: .03em;
	}
}

.font-en
{
	font-family: $font-en;
	font-weight: bold;
	letter-spacing: 0;
}


a
{
	text-decoration: none;
	color: $black;
	border-bottom: solid 1px;
		
	.photo
	{
		overflow: hidden;
		
		img
		{
			@include transition(transform .2s linear);
			-webkit-backface-visibility: hidden; 
			backface-visibility: hidden; 
		}
	}
	
	&:focus, &:active, &:hover
	{
		color: $black;
		border-bottom: dashed 1px;
		
		.photo
		{
			overflow: hidden;
			
			img
			{
				@include transition(transform 2s linear);
				@include transform(scale(1.05));
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden; 
			}
		}
	}
}

.btn
{
	position: relative;
	display: block;
	width: 100%;
	max-width: 600px;
	background-color: $btnColor;
	color: $white;
	font-family: $font-midashi;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 1rem 3rem;
	margin: 1rem auto;
	border-radius: 2px;
	border-bottom: none;
	white-space: normal;
	
	&:after
	{
		content: url(../../assets/img/arrow_bold.svg);
		position: absolute;
		top: 50%;
		right: -.5rem;
		@include transform(translate(-50%, -60%));
		@include transition(transform .2s);
	}
	
	&:hover, &:focus, &:active
	{
		background-color: $btnHoverColor;
		color: $white;
		border-bottom: none;
		
		&:after
		{
			@include transform(translate(-40%, -60%));
		}
	}
	
	&.en
	{
		font-family: $font-en;
	}
}

.moreBtn
{
	padding: 1rem;
	width: 100%;
	
	.btn
	{
		background-color: transparent;
		border-color: $black;
		border: solid 1px;
		color: $black;
		font-family: $font-midashi;
		
		&:after
		{
			@include filter(brightness(0));
		}
		
		&:hover
		{
			background-color: $btnHoverColor;
			border-color: $btnHoverColor;
			color: $white;
		
			&:after
			{
				@include filter(none);
			}
			
		}
	}
}



//TOTOP
#toTop
{
	position: fixed;
	z-index: 9999;
	width: 84px;
	right: -1rem;
	bottom: 2rem;
	border-bottom: none;
	//mix-blend-mode: multiply;
	filter: brightness(85%);
	@include transition(transform .2s);
	@include transform(translateY(10px));
	
	img
	{
		@include transform(rotate(-90deg) scaleY(-1) scale(.5));
		padding-bottom: 10px;
	}
	
	&:hover
	{
		
		cursor: pointer;
		filter: brightness(80%);
		@include transform(translateY(0));
	}
	
	@media screen and (min-width: 768px)
	{
		right: 1rem;
		bottom: 4rem;
		
		img
		{
			@include transform(rotate(-90deg) scaleY(-1) scale(.6));			
		}
	}
}


hr {
  height: 0;
  border: none;
  margin: 2rem auto; 
  border-bottom: solid 1px;
  width: calc(100% - 2rem);

	@media only screen and (min-width: 768px)
	{
		width: calc(100% - 4rem);
		
	}
	
}

.emdash
{
	letter-spacing: -.3em;
	margin-right: .6em;
}    

img
{
	width: 100%;
	height: auto;
}


.social
{
	$size: 24px;
	margin-left: -4px;
	margin-bottom: .5rem;
	
	.addthis_inline_share_toolbox
	{
		.at-share-tbx-element
		{
			.at-share-btn-elements
			{
				.at-icon-wrapper
				{
					width: $size  !important;
					height: $size  !important;
					line-height: $size  !important;
					margin-right: 2rem  !important;
					
					.at-icon
					{
						width: $size  !important;
						height: $size  !important;
					
						&.at-icon-facebook
						{
							
						}
					}
						
					&.at-svc-pocket
					{
						margin-right: 0 !important;
					}
				}
				
				.at_flat_counter
				{
					line-height: $size  !important;
					@extend .font-en;
					font-size: 8px !important;
					margin: 0;
					padding: 0;
					@include transform(translateX(-1.5rem));
					background-color: transparent;
					
					&:after
					{
						content: none;
					}
				}
			}
		}
	}
}


.profile
{
	$padding: 1.2rem 1rem;
	@include display-flex;
	@include flex-flow(column);
	padding: $padding;
	
	max-width: 30em;
	margin:  0 auto;
	
	a
	{
		border-bottom: none;
	}
	
	.photo
	{
		position: relative;
		width: 120px;
		height: 120px;
		margin: 0 auto;
		margin-bottom: 2rem;
		
		img
		{
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: 100%;
		}
	}
	
	.text
	{
		@include flex(1);
		font-size: 12px;
		line-height: 1.5em;
		text-align: center;
		
		.name
		{
			font-family: $font-midashi;
			font-size: 18px;
			font-weight: bold;
			margin-bottom: .5em;
		}
		
		.description
		{
			color: $grey;
			text-align: justify;
		}
	}
}


//MEGAMENU
html, body
{
  &.height100
  {
    height: 100%;
  }
}
#nav
{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999999;
  
  &.open
  {
    height: 100%;
    overflow-y: scroll;
  }

  #onlineshop-label
  {
    position: absolute;
    top: .9rem;
    right: 1rem;
    font-size: 26px;
    color: $white;
    
    i
    {
      margin: 0;
    }
  }
  
  $hamburger-width: 14px;
  $hamburger-border: 3px;
  $touch-margin: 10px;
  

  #hamburger
  {
    display: none;
  }

  #hamburger-label
  {
    pointer-events: auto;
    position: absolute;
    z-index: 9999;
    top: 1.2rem;
    right: 1rem;
    padding: 12px 0;
    display: block;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    z-index: 99999;
    
    span
    {
      display: block;
      width: $hamburger-width *2;
      height: $hamburger-border; 
      background-color: $black;
      color: $black;
      -webkit-transition: all .2s;
      transition: all .2s;
    
      &:before, &:after
      {
        display: block;
        content: '';
        border-top: solid $hamburger-border;
        -webkit-transition: all .2s;
        transition: all .2s;
      }
  
      &:before
      {
        transform: translateY( -9px );
      }
      &:after
      {
        transform: translateY(   7px );
      }
    }

    &:hover span
    {
    
      &:before
      {
        transform: translateY( -9px + 2px );
      }
      &:after
      {
        transform: translateY(   7px - 2px );
      }
    }
  }

  #hamburger:checked ~
  {
    #hamburger-label span
    {
      background-color: transparent;
      width: 32px;
      margin-top: 0px;
      margin-left: -2px;
      background-color: transparent;
      color: $white;

      &:before
      {
        -webkit-transform:  rotate(45deg);
                transform:  rotate(45deg);
      }
      &:after
      {
        -webkit-transform:  translateY(-$hamburger-border) rotate(-45deg);
                transform:  translateY(-$hamburger-border) rotate(-45deg);
      }
    }
    #hamburger-label:hover span
    {
      -webkit-transform:  rotate(90deg);
              transform:  rotate(90deg);
    }

    #logo-nav
    {
      /*display: none;*/
    }

    #megamenu
    {
      background-color: $mega-menu-bg;
      display: block;
      overflow-y: scroll;
      z-index: 9999;
      

		@media only screen and (min-width: 1024px)
		{
	      top: -.8rem;
		  right: -1rem;
		}

      .megamenu-menu
      {
        display: block;
      }
    }
  }

  
  #megamenu
  {
    display: none;
    position: absolute;
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    z-index: 99;
    /*background-color: $mega-menu-bg;*/
    background-color: transparent;
    text-align: center;

    .megamenu-wrap
    {
      background-color: $mega-menu-bg;
      text-align: center;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      @include transform( translate(-50%, -50%) );
    }
    
    ul
    {
	    padding-left: 0;
	    list-style: none;
    }
    
    #logo-megamenu
    {
      width: 60px;
      margin: 0 auto;
      margin-top: 1rem;
    }
    
    h2
    {
      color: $mega-menu-text;
	  font-family: $font-midashi;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: .1em;
      padding: 1.3em;
    }
    
    .menu, .submenu
    {
      list-style: none;
      padding-left: 0;
      
      
      li
      {
        margin-bottom: 2em;
      }
      
      &.menu
      {
	      a
	      {
		      font-size: 28px;   
	      }
      }
      
      a
      {
        display: inline;
        color: $white;
        border-bottom: solid 3px transparent;
		font-family: $font-midashi;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: .1em;
        padding: 0;
        text-decoration: none;
        line-height: 1em;
        
        img
        {
	        height: 30px;
	        width: auto;
        }
        
        &:hover
        {
          border-color: $white;
        }
        
        i
        {
          display: inline-block;
          font-size: 1.2em;
          margin-bottom: .18em;
          margin-right: .4em;
        }
        
      }
    }
    
    .menu
    {
	    li a
	    {
		    padding-bottom: .2em;
	    }
    }
    
    
    $_white: darken($white, 10%);
    .submenu
    {
	    
        @include display-flex();
        @include flex-wrap(wrap);
        padding: 0 1.5rem;
        margin-top: 3rem;
        margin-bottom: 0;
        position: relative;
        
        &:before
        {
	        content: '';
	        display: block;
	        position: absolute;
	        top: 0;
	        left: 50%;
	        margin-left: -.5px;
	        z-index: -9;
	        width: 1px;
	        height: 100%;
	        background-color: $_white;
        }
        
        &:after
        {
	        content: '';
	        display: block;
	        width: 100%;
	        margin: 0 1rem;
	        height: 1px;
	        background-color: $white;
        }
        
	    li
	    {
			width: 50%;
			padding: 0 1rem;
			margin-bottom: -1px;
			
			&.primary
			{
				position: relative;
				width: 100%;
				background-color: $black;
				
				&:after
				{
					content: '';
					display: block;
					width: 1rem;
					height: 1rem;
					background-color: $black;
					position: absolute;
					bottom: -1rem;
					left: 50%;
					margin-left: -.5rem;
				}
			}
			
			&.noborder
			{
				a
				{
					border: none;
				}
			}
			
			
			&:last-child:after
			{
				content: '';
				display: block;
				width: 1rem;
				height: 1rem;
				background-color: $black;
				position: absolute;
				bottom: 1px;
				left: 50%;
				margin-left: -.5rem;
			}
	    }
	    
	    a
	    {
		    display: block;
			font-family: $font-midashi;
		    font-size: 14px;
			font-weight: bold;
			padding: 1.5em 0;
			height: 4em;
			border-top: solid 1px;
			border-bottom: solid 1px;
			color: $_white;
	    }
    }
    
    nav
    {
	    padding: 0 2.5rem;
		margin-top: -1rem;
		
		a
		{
			font-weight: bold;
			font-size: 14px;
			background-color: transparent;
			border: solid 1px;
			color: $_white;
			
			&:hover
			{
				background-color: $btnHoverColor;
				border-color: $btnHoverColor;
			}
		}
    }
    
    .social
    {
      margin-bottom: 70px;
    }
    
    @media screen and (min-width: 768px) 
    {
      .megamenu-wrap
      {
        position: absolute;
        z-index: 99;        
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 800px;
        
        @include display-flex;
        @include flex-wrap(wrap);
        max-width: 700px;
        
        .menu
        {
	        width: 60%;
	        margin-top: 0;
	        
	        li
	        {
		        text-align: left;
		        
		        a
		        {
			        font-size: 32px;
		        }
	        }
        }
        
        .submenu
        {
	        width: 40%;
	        margin-top: 0;
	        
	        &:before, &:after
	        {
		        content: none;
	        }
	        
	        li
	        {
		        text-align: left;
		        width: 100%;
		        
		        a
		        {
			        display: inline-block;
			        border: none;
			        border-bottom: solid 1px transparent;
			        padding: .5em 0;
			        height: auto;
			        
			        &:hover
			        {
				        border-bottom-color: $white;
			        }
		        }
	        }
        }
        
        nav
        {
	        width: 100%;
	        margin: 0 auto;
	        padding: 0;
	        
	        a
	        {
		        max-width: none;
	        }
        }
      }
      
      .flex
      {
        @include display-flex();
        @include justify-content(space-around);
      }
      
      .group
      {
        width: 100%;
        max-width: 340px;
      }
      
      
    }
  }
  
  
  #menu-banner
  {
	  display: none;
	  margin-top: 2rem;
	  	  
	  @media screen and (min-width: 1024px) 
	  {
	  	@include display-flex;
	  	@include flex-wrap(wrap);
	  	
	  	.item
	  	{
		  	width: 16%;
			padding: .5rem;
			
		  	a
		  	{
			  	border-bottom: none; 
			  	
			  	img
			  	{
				  	@include filter(grayscale(1));
				  	@include transition(all .2s);	
			  	}
			  	
			  	&:hover img
			  	{
				  	@include filter(none);
			  	}
		  	}
	  	}
	  }
  }
  
}

#nav
{
	
	@media only screen and (min-width: 768px)
	{
		top: .8rem;	
		right: 1rem;
	}

	#headerAbout
	{
		@media only screen and (max-width: 1023px)
		{
			display: none;
		}
		
		position: absolute;
		z-index: 999;
		top: 1.3rem;
		right: 6rem;
		color: $black;
		text-decoration: none;
		border-bottom: none;
		font-family: $font-midashi;
		font-weight: bold;
		font-size: 14px;
		
	}
	
	#headerSearch
	{
		position: absolute;
		z-index: 999;
		top: 1.1rem;
		right: 3.5rem;
		color: $black;
		border-bottom: none;
		
		i
		{
			font-size: 30px;
			line-height: 0;
		}
	}
}

#headerMenu
{
	display: inline-block;
	margin-left: 4%;
	
	a
	{
		color: $black;
		text-decoration: none;
		border-bottom: none;
		padding: 0 1rem;
		font-family: $font-midashi;
		font-weight: bold;
		font-size: 14px;
	}
	
	img
	{
		height: 14px;
		width: auto;
	}
	
	@media only screen and (max-width: 1023px)
	{
		display: none;
	}
}


#header
{
	position: fixed;
	z-index: 999999;
	top: 0;
	width: 100%;

	background-color: $white;
	padding: .5rem 0;
	@include transition(all .3s);
	
	box-shadow: none;
	
	&.shadow
	{
		box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	}
	
	
	@media only screen and (min-width: 768px)
	{
		padding: 1rem 0;
	}
	
	&.minus
	{
		@include transform(translateY(-100%));
	}
	
	#siteLogo
	{
		display: block;
		margin: 0 auto;
		padding: 0 .5rem;
		width: 180px;
		@include transform(translate(-3px, 2px));
		
		a
		{
			border-bottom: none;
		}
		
		img
		{
			width: 100%;
			height: 100%;
		}
		
		
		@media only screen and (min-width: 768px)
		{
			display: inline-block;
			margin-right: auto;
			margin-left: 1rem;
			width: auto;
			@include transform(translate(-3px, -2px));
			
			img
			{
				height: 38px;
				width: auto;
			}
		}
	}
	

}



.pagingNav
{
	margin: 2rem auto;
	
	@include display-flex;
	@include justify-content(center);
    padding: 0 3rem;
    font-size: 18px;
    max-width: 30em;
    
    a,
    span
    {
	    border: solid 2px transparent;
	    cursor: default;
	    font-family: $font-en;
	    font-weight: bold;
	    
	    &:not(:link)
	    {
			//opacity: .33;
			border-color: $black;
	    }
	    
	    &:link,
	    &:visited	    
	    {
		    opacity: 1;
		    cursor: pointer;
		    
		    &:hover
		    {
			    border-color: $btnHoverColor;
			    background-color: $btnHoverColor;
			    color: $white;
		    }
	    }
    }
	
	.pager
	{
		@include display-flex;
		@include flex(1);
		@include justify-content(center);
		@include align-items(center);
		margin: 0;
	}
	
	.page-numbers,
	.num
	{
		text-align: center;
		height: 2em;
		width: 2em;
		border-radius: 2em;
		line-height: 1.8em;
		letter-spacing: 0;
		padding: 0;
		margin: 0 .1em;
		font-size: 15px;
		
		
		@media only screen and (min-width: 1024px)
		{
			font-size: 18px;
		}
		
		
	    &.active,
	    &.current
	    {
		    background-color: transparent;
		    color: $black;
		    border-color: $black;
		    
		    &:hover
		    {
			    pointer-events: none;
			    
			    background-color: transparent !important;
			    color: $white !important;
			    cursor: default;
		    }
	    }
	    
	    
	    
	    &.dots
	    {
		    border: none;
		    background-color: transparent;
		    cursor: default;
		    
	    }
	}
	
	.prev, .next
	{
		position: relative;
		border: none;
		@include flex(1);
		@include transition(transform .2s);
	    
	    &:not(:link)
	    {
		    opacity: 0;
	    }
		
		i
		{
			display: none;
		}
		
		&:before
		{
			content: url(../../assets/img/arrow_bk.svg);
			display: block;
			@include transition(transform .2s);
			width: 3rem;
		}
		
		&:hover
		{
			background-color: transparent !important;
			border: none;
		}
	}
	
	.prev
	{
		&:before
		{
			@include transform(scaleX(-1));
			float: left;
		}
		
		&:link:hover
		{
			@include transform(translateX(-.2rem));
		}
	}
	.next
	{
		&:before
		{
			float: right;
		}
		
		&:link:hover
		{
			@include transform(translateX(.2rem));
		}
	}
}



.content-list
{
	.wrap
	{
		> h2
		{
			text-align: center;
			margin-bottom: 1.5em;
		}
	}
	
	.list + .btn
	{
		width: calc(100% - 2rem);
	}
	
}


.list.masonry {
  
  	margin-bottom: 2rem;
		
	.post
	{
		width: 100%;
		margin-bottom: 1rem;
		
		a
		{					
			@include display-flex;
			@include flex-wrap(wrap);
			border-bottom: none;
		}
		
		.photo
		{
			position: relative;
			height: 0;
/*
			width: 100px;
			padding-bottom: 100px * 3/5;
*/
			width: 100%;
			padding-bottom: 50%;
			
				
			img
			{
				position: absolute;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
			
			time
			{
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%,-50%));
				background-color: $white;
				padding: .2em .5em;
				font-size: 20px;
				@extend .font-en;
				color: $black;
			}
		}
		
		.text
		{
			@include flex(1);
			padding-left: 0;
			
			h2
			{
				margin: 0;
				font-size: 18px;
				font-weight: bold;
				text-transform: inherit;
			}
		}
		
	}
	
	
	@media only screen and (min-width: 1024px)
	{ 
		padding: 0;
		margin: 0 auto;
		margin-top: 4rem;
	
		.wrap
		{
			padding: 0 2rem;
		}
		
		
		.post
		{
			width: 50%;
			margin-bottom: 2rem;
			
			&.large
			{
				a
				{
					@include flex-direction(column);
				}
				
				.photo
				{
					width: 100%;
					padding-bottom: percentage(3/5);
				}
				
				.text
				{
					padding-left: 0;
					padding-top: .5em;
					margin-top: 1em;
					
					h2
					{
						font-size: 30px;
					}
				}
			}
				
			.photo
			{
				width: percentage(1/2);
				padding-bottom: percentage(1/2*3/5);
			}
			
			.text
			{
				padding-left: 1rem;
				padding-top: 0;
				
				h2
				{
					font-size: 20px;
				}
			}
		}
	}
	
	@media only screen and (min-width: 1380px)
	{	
		.post
		{
			width: percentage(1/3);
			
			&.large
			{
				.text
				{
					h2
					{
						font-size: 28px;
					}
				}
			}
			
			.text
			{
				h2
				{
					font-size: 18px;
				}
			}
		}	
	}
	
}


.list
{
	margin-bottom: 2rem;
		
	.post
	{
		margin-bottom: 1rem;
		
		a
		{					
			@include display-flex;
			@include flex-wrap(wrap);
			border-bottom: none;
		}
		
		.photo
		{
			position: relative;
			height: 0;
			//width: 50%;
			//padding-bottom: 50% * 3/5;
			width: 100%;
			padding-bottom: 100% * 1/2;
			
				
			img
			{
				position: absolute;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
			
			time
			{
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%,-50%));
				background-color: $white;
				padding: .2em .5em;
				font-size: 20px;
				@extend .font-en;
				color: $black;
			}
		}
		
		.text
		{
			@include flex(1);
			padding-left: 0;
			padding-top: 1em;
			
			h2
			{
				margin: 0;
				font-size: 15px;
				font-weight: bold;
				text-transform: inherit;
			}
		}
		
	}
	
	
	@media only screen and (min-width: 1024px)
	{
		padding: 0 2rem;
		margin-top: 4rem;
	
		.wrap
		{
			padding: 0 2rem;
		}
		
		.post
		{
			width: 50%;
			margin-bottom: 2rem;
				
			&:nth-child(odd)
			{
				//padding-right: 3rem;
			}
			
			&:nth-child(even)
			{
				//padding-left: 3rem;
			}
			
			
			.photo
			{
/*
				width: 150px;
				padding-bottom: 150px * 3/5;
*/
/*
				width: percentage(1/3);
				//padding-bottom: percentage(1/3*3/5);
				padding-bottom: 18%;
*/
				
				width: percentage(1/2);
				//padding-bottom: percentage(1/3*3/5);
				padding-bottom: 27%;
			}
			
			.text
			{
				padding-left: 1em;
				
				h2
				{
					font-size: 20px;
				}
			}
		}
	}
	

	@media only screen and (min-width: 1380px)
	{	
		.post
		{
			//width: percentage(1/3);
		}	
	}
	
	&.event
	{
		
		.post
		{
			margin-bottom: 2rem;
			
			a
			{					
				@include display-flex;
				@include flex-wrap(wrap);
				border-bottom: none;
			}
			
			.photo
			{
				position: relative;
				width: 100%;
				padding-bottom: 52%;
			}
			
			.text
			{
				@include flex(1);
				padding-left: 0;
				padding-top: 1rem;
				line-height: 0;
				
				
				h2
				{
					margin: 0;
					font-size: 12px;
					line-height: 1.4em;
				}
				
				
				time
				{
					display: none;
					
					//display: block;
					@extend .font-en;
					font-size: 12px;					
					border: solid 1px;
					//display: inline-block;
					padding: 0 .4em;
					margin-bottom: .3rem;
					line-height: 1.2em;
					
					&.today
					{
						border-color: red;
						background-color: red;
						color: $white;
					}
					
					
					&.done
					{
						border-color: $lightergrey;
						background-color: $lightergrey;
						color: $white;
					}
				}
			}
			
		}
		
		
		@media only screen and (min-width: 1024px)
		{
			padding: 0 2rem;
			margin-top: 4rem;
		
			.wrap
			{
				padding: 0 2rem;
			}
			
			@include display-flex;
			@include flex-wrap(wrap);
			
			.post
			{
				margin-bottom: 3rem;
				padding: 0 3rem;
				
				.text
				{
					margin-top: 1rem;
					
					h2
					{
						font-size: 18px;
					}
								
					time
					{
						font-size: 12px;
					}
				}
			}
		}
	}
}



.post
{	
	position: relative;
	padding: 0 1rem;
	z-index: 999;
	
	header
	{
		h2
		{
			font-size: 24px;
			margin-bottom: 0;
		}
		
		.meta
		{
			font-family: $font-midashi;
			font-size: 12px;
			line-height: 1.6em;
			margin: 1rem 0;
			color: $grey;
			
			a
			{
				color: $grey;
				border-bottom: none;
			}
			
			time
			{
				display: inline;
			}
			
			.persons
			{
				display: inline;
			}
		}

		@media only screen and (min-width: 1024px)
		{
			h2
			{
				font-size: 40px;
			}
		}
	}
	
	.body
	{
		font-size: 16px;
		line-height: 1.8em;
		color: $grey;
		text-align: justify;
		
		h1, h2, h3
		{
			font-size: 24px;
			line-height: 1.4em;
			margin-top: 3em;
			margin-bottom: 1em;
			text-align: left !important;
		}
		
		strong
		{
			font-family: $font-midashi;
			font-weight: bold;
		}
		
		p
		{
			margin-bottom: 2em;
			
			@media only screen and (min-width: 1024px)
			{
				margin-bottom: 3em;
			}
			
		}
		
		ul
		{
			padding-left: 1.5rem;
			
			li
			{
				list-style: none;
				margin-bottom: .5em;
				
				&:before
				{
					content: '\f21b';
					font-family: 'Ionicons';
					display: inline-block;
					@include transform(scale(.5));
					margin-left: -1.5rem;
					margin-right: .5rem;
				}
			}
		}
		
		a
		{
			font-weight: bold;
			border-bottom: solid 2px;
			
			&:hover
			{
				border-bottom: dashed 1px;
			}
		}
		
		img
		{
			width: 100%;
			margin-bottom: 2rem;
			line-height: 0;
			
			@media only screen and (min-width: 1024px)
			{
				margin-bottom: 3em;
			}
		}
		p img
		{
			margin-bottom: 0;
		}
		
		figure
		{
			width: 100% !important;
			margin: 0 auto;
			margin-bottom: 3rem;
			
			img
			{
				margin-bottom: 0;
			}
			
			figcaption
			{
				font-size: 11px;
				line-height: 1.4em;
				color: $lightgrey;
				margin-top: .5em;
				
				a
				{
					color: $lightgrey;
					border-bottom: solid 1px $lightgrey;
				}
			}
		}
		
		.entry-profile
		{
			max-width: 24em;
			padding: 2rem;
			margin: 3rem auto;
			background-color: $palegrey;
			border-radius: 2px;
			
			.profile-img
			{
				width: 100px;
				margin: 0 auto;
				margin-bottom: 1em;
				
				img
				{
					margin-bottom: 0;
				}
			}
			
			.profile-name
			{
				font-family: $font-midashi;
				font-weight: bold;
				font-size: 15px;
				line-height: 1.3em;
				text-align: center;
				margin-bottom: 1em;
			}
			
			.profile-txt
			{
				font-size: 12px;
				line-height: 1.6em;
				color: $grey;
				text-align: justify;
			}
		}
		
		hr
		{
			&.end-line
			{
				
			}
		}
	}
	
	footer
	{
		$padding: 1.2rem 1rem;
		$leftoffset: 70px;
		
		margin-top: 5rem;
		
		.en
		{
			@extend .font-en;
			font-size: 8px;	
			letter-spacing: .15em;
		}
	
		
		.relatedPosts
		{
			a
			{
				&:before
				{
					content: '関連記事';
					display: block;
					padding: .3em .5em;
					position: absolute;
					z-index: 999;
					top: 5px;
					line-height: 1;
					background-color: $white;
					font-family: $font-midashi;
					font-size: 10px;
					font-weight: bold;
					letter-spacing: 2px;
					
				}
				
			}
			
			.next:before
			{
				left: 5px;
			}
			
			.prev:before
			{
				left: 1em;
				
				@media only screen and (min-width: 1024px)
				{
					left: 1.5em;
				}
				
			}
			
			.text:before
			{
				content: none !important;
			}
		}
		
		
		.nextPrevNav, 
		.relatedPosts
		{
			$skew: 7deg;
			$scale: 1.05;
			
			position: relative;
			padding: 1.2rem 0;
			margin-bottom: 1rem;
			border-top: solid $borderWidth;
			@include display-flex;
			@include flex-direction(row-reverse);
			
			&:after
			{
				content: '';
				display: block;
				position: absolute;
				right: 50%;
				height: 0;
				padding-bottom: 30%;
				width: $borderWidth;
				transform: rotate(-$skew);
				background-color: $black;
			}
			
			a
			{
				overflow: hidden;
			}
			
			.text
			{
				position: relative;
				font-family: $font-midashi;
				font-weight: bold;
				font-size: 12px;
				line-height: 1.5em;
				margin-top: 1rem;
				
				&:before
				{
					position: absolute;
					z-index: 999;
					background-color: $white;
					padding: .2em .5em;
					top: -2rem;
					@include transition(transform .2s);
				}
			}
			
			
			.next, .prev
			{
				position: relative;
				width: 50%;
				border-bottom: none;
				
				.photo
				{
					position: relative;
					height: 0;
					width: 100%;
					padding-bottom: percentage(3/5);
					
					@include transform(skewX($skew));
					overflow: hidden;
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden; 
					
					img
					{
						@include transform(skewX(-$skew));
						position: absolute;
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: transform .2s;
						-webkit-backface-visibility: hidden;
						backface-visibility: hidden; 
					}
				}
				
				&:hover img
				{
					@include transform( scale($scale) skewX(-$skew));
				}
			}
			
			.prev .photo
			{
				left: -1rem;
				
				img
				{
					left: 1rem;
				}
			}
			
			.next .photo
			{
				right: -1rem;
				
				img
				{
					right: 1rem;
				}
			}
			
			.prev
			{
				
				.text
				{
					&:before
					{
						content: url(../../assets/img/arrowPrev.svg);
						left: -.5rem;
					}
				}
					
					&:hover .text:before
					{
						@include transform(translateX(-.5rem));
					}
			}
			
			.next
			{
				
				.text
				{
					margin-left: 2rem;
									
					&:before
					{
						content: url(../../assets/img/arrowNext.svg);
						right: -.5rem;
					}
				}
					
					&:hover .text:before
					{
						@include transform(translateX(.5rem));
					}
			}
		}
		
		.social
		{
			position: relative;
			height:  64px;
			$size: 24px;
			
			padding: $padding;
			padding-top: 1.5rem;
			border-top: solid $borderWidth;
			
			
			&:before
			{
				content: 'Share this';
				display: inline-block;
				background-color: $black;
				color: $white;
				border: solid 1px;
				padding: .3em 2em;
				margin-top: -1px;
				@extend .font-en;
				font-size: 9px;
				line-height: 1;
				text-transform: uppercase;
				letter-spacing: .4em;
				position: absolute;
				left: 50%;
				top: 0;
				@include transform(translate(-50%, -50%));
				border-radius: 1em;
			}
			
			.addthis_inline_share_toolbox
			{
				position: absolute;
				display: table;
				left: 50%;
				@include transform(translateX(-50%)); 
				
				.at-share-tbx-element .at-share-btn-elements
				{
					.at-icon-wrapper
					{
						width: $size  !important;
						height: $size  !important;
						line-height: $size  !important;
					
						.at-icon
						{
							width: $size  !important;
							height: $size  !important;
						}
						
					}
					.at_flat_counter
					{
						line-height: $size  !important;
					}
				}
			}
		}
		
		.meta
		{
			@include display-flex;
			@include flex-wrap(wrap);
			padding: $padding;
			border-top: solid $borderWidth;
			
			
			> div
			{
				width: 50%;
				
				@include display-flex;
				@include flex-wrap(wrap);
			}
			
			
			.issue
			{
				position: relative;
			
				&:after
				{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					width: 1px;
					transform: rotate(-7deg);
					background-color: $black;
				}
				
				.en
				{
					width: $leftoffset;
				}
				
				a
				{
					font-family: $font-midashi;
					font-size: 10px;
					border-bottom: none;
					margin-top: -.3em;
				}
			}
			
			.views
			{
				@include justify-content(center);
				
				.num
				{
					@extend .font-en;
					font-size: 35px;
					line-height: 1;
					letter-spacing: -.05em;
					margin-left: .5em;
					margin-right: -.5em;
					margin-top: -.1em;
				}
			}
			
		}
		
		.issue
		{
			@include display-flex;
			@include flex-wrap(wrap);
			@include align-items(flex-start);
			padding: $padding;
			border-top: solid $borderWidth;
			
			.en
			{
				width: $leftoffset;
			}
			
			.issues
			{
				@include flex(1);
				margin-top: -.2em;
				line-height: 1;
			}
			
			a
			{
				display: inline-block;
				font-family: $font-midashi;
				font-size: 12px;
				line-height: 1.4em;
				border-bottom: none;
				padding-right: 1em;
			}
		}
		
		.hashtag
		{
			@include display-flex;
			@include flex-wrap(wrap);
			@include align-items(flex-start);
			padding: $padding;
			border-top: solid $borderWidth;
			
			
			.en
			{
				width: $leftoffset;
			}
			
			.tags
			{
				@include flex(1);
				margin-top: -.4em;
				line-height: 1.5em;
			}
			
			a
			{
				display: inline-block;
				font-family: $font-midashi;
				font-size: 12px;
				line-height: 1.5em;
				border-bottom: none;
				padding-right: 1em;
				
				&:before
				{
					content: '#';
				}
			}
		}
		
		.quote
		{
			@include display-flex;
			@include flex-wrap(wrap);
			@include align-items(flex-start);
			padding: $padding;
			border-top: solid $borderWidth;
			
			.en
			{
				width: $leftoffset;
			}
			
			h2
			{
				@include flex(1);
				padding: .1rem 0;
				margin-top: -.3em;
				margin-bottom: 0;
				line-height: 1.3em;
				font-family: $font-midashi;
				font-size: 18px;
				font-weight: bold;
				text-transform: inherit;
				
				&:before
				{
					content: none;
					
					@include transform(translate(-100%, .1em));
					font-size: 44px;
				}
			}
		}
		
		.profile
		{
			@extend .profile;
			@include flex-flow(row);
			border-top: solid $borderWidth;
			max-width: none;
	
			.photo
			{
				width: 36px;
				height: 36px;
				margin-right: 24px;
			}
			
			.text
			{
				.name
				{
					font-family: $font-midashi;
					font-size: 12px;
					text-align: left;
					text-transform: inherit;
				}
			}
		}
		
		.btns
		{	
			padding: 1.2rem 0;
			padding-top: 0;
			border-top: solid $borderWidth;
			
			@media only screen and (min-width: 1024px)
			{
/*
		        @include display-flex();
		        @include justify-content(space-between);
*/
	        
				margin-bottom: 0;
				padding-bottom: 0;
				
		        .btn
		        {				
			        max-width: none;
			        margin-bottom: 0;
			        					
					&:nth-child(odd)
					{
						//margin-right: .5rem;
					}
					
					&:nth-child(even)
					{
						//margin-left: .5rem;
					}
					
					br
					{
						display: none;
					}
		        }
				
			}
				        
		}
	}
}


.list-three
{
	width: calc(100% + 6rem);
	padding: 1rem 3rem;
	background-color: $white;
	background-image: url(../../assets/img/menphis1.png);
	background-repeat: repeat;
	background-size: 11%;
	border-top: solid 1px #9B9B9B;
	border-bottom: solid 1px #9B9B9B;
	
	h2
	{
		text-align: center;
	}
	
	.list
	{
		margin: 0 auto;
		max-width: 1024px;
		
		.btn
		{
			width: calc(100% - 2rem);
			
			@media only screen and (max-width: 767px)
			{
				padding-right: 5em;
				text-align: left;
			}
			
			
			@media only screen and (min-width: 768px)
			{
				width: calc(50% - 4rem);
			}
			
		}
		
		@media only screen and (min-width: 768px)
		{
			@include display-flex;
			@include flex-wrap(wrap);
			@include align-items(flex-start);
			@include justify-content(space-around);
			
			.post
			{
				width: percentage(1/3);
				padding:  0 2rem;
					
				&:nth-child(odd) a
				{
					padding-right: 0;
				}
				&:nth-child(even) a
				{
					padding-left: 0;
				}
				
				a
				{
					display: block;
					
					.text
					{
						text-align: left;
						padding-left: 0;
						margin-top: .5rem;
					}
					
					.photo
					{
						position: relative;
						height: 0;
						width: 100%;
						padding-bottom: percentage(3/5);
						
						img
						{
							position: absolute;
							object-fit: cover;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
		
	}
}


.box
{
	@include display-flex;
	@include flex-direction(column);
	@include justify-content(center);
	width: calc(100vw - 4rem);
	height: calc(100vw - 4rem);
	margin: 0 auto;
	margin-bottom: 2rem;
	border: solid 3px;
	padding: 2rem 1.6rem;

	text-align: center;
	
	h2
	{
		margin: 0;
		margin-top: 1em;
		
		&.en
		{
			font-family: $font-en;
			font-size: 40px;
			font-weight: bold;
		
			&:after
			{
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				background-color: $black;
				margin: 2rem auto;
				margin-top: 4.5rem;
			}
			
			& + p
			{
				text-align: center;	
				font-family: $font-midashi;
				font-size: 14px;	
				line-height: 1.6em;	
			}
		}
	}
	
	h2 + p
	{
		margin: 0;
		text-align: center;
	}
	
	@media only screen and (min-width: 1024px)
	{
		width: 360px;
		height: 360px;
	}
}


.balloon
{
	position: relative;
	border: solid 10px;
	padding: 3rem 0;
	margin-bottom: 4rem !important;
	
	&:after
	{
		content: '';
		display: block;
		position: absolute;
		left: 50%;
		bottom: 0;
		@include transform(translate(-50%, 100%));
		width: 0 !important;
		height: 0 !important;
		margin: 0 !important;
		background-color: transparent !important;
		border-style: solid;
		border-width: 60px 15px 0 15px;
		border-color: $black transparent transparent transparent;
	}
}


.brace
{
	
	h2
	{
		margin: 0;
		margin-top: 1em;
		
		&.en
		{
			font-family: $font-en;
			font-size: 40px;
			font-weight: bold;
		
			&:after
			{
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				background-color: $black;
				margin: 2rem auto;
				margin-top: 4.5rem;
			}
			
			& + p
			{
				text-align: center;	
				font-family: $font-midashi;
				font-size: 14px;	
				line-height: 1.6em;	
			}
		}
	}
	
	h2 + p
	{
		margin: 0;
		text-align: center;
	}
	
	
	@media screen and (min-width: 768px)
	{
		position: relative;
		max-width: 640px;
		
		&:before,
		&:after
		{
			content: url(../../assets/img/brace.svg);
			display: block;
			position: absolute;
			top: 0;
			
		}
		
		&:before
		{
			left: 0;
		}
		
		&:after
		{
			right: 0;
		}
		
		
		@include display-flex;
		@include flex-direction(column);
		@include justify-content(center);
		margin: 0 auto;
		margin-bottom: 2rem;
		padding: 2rem;
		text-align: center;
	}
}
		
		
#main
{
	padding: 0 1rem;
	padding-top: 4rem;
	
	& > .wrap
	{
		& > h2
		{
			text-align: center;
			
			&.en
			{
				font-family: $font-en;
				font-size: 40px;
				font-weight: bold;
			
				&:after
				{
					content: '';
					display: block;
					width: 1em;
					height: 3px;
					background-color: $black;
					margin: 2rem auto;
				}
				
				& + p
				{
					text-align: center;	
					font-family: $font-midashi;
					font-size: 20px;	
					line-height: 1.6em;	
				}
			}
			
			& + p
			{
				text-align: center;
			}
		}
		
	}
		
	@media only screen and (min-width: 1024px)
	{
		padding-top: 6rem;
	}
	
	&.home,
	&.page-48345
	{
		padding-left: 0;
		padding-right: 0;
		padding-top: 4rem;
		
		@media only screen and (min-width: 768px)
		{
			padding-top: 5.5rem;
			
		}
	}
	
	&.permalink
	{
		padding: 0;
		padding-top: 4rem;

		@media only screen and (min-width: 1024px)
		{
			padding-top: 100px;
		}
		
		.wrap
		{
			//max-width: 1440px;
			margin: 0 auto;
			
			& > .post
			{
				& > header > h2
				{
					text-transform: inherit;
				}
			}
			
			& > .postMeta
			{
				
			}
			
			@media only screen and (max-width: 1023px)
			{
			
				& > .postMeta
				{
					display: none;
				}
			}
			
			@media only screen and (min-width: 1024px) and (min-height: 620px)
			{
				@include display-flex;
				@include flex-wrap(wrap);
				@include flex-direction(row-reverse);
				@include justify-content(space-around);
				padding: 0 3rem;
				
				
				& > .postMeta
				{
					@include display-flex;
					width: 20%;
					position: relative;
					
					//https://abouolia.github.io/sticky-sidebar/#examples
					will-change: min-height;
					
					
					.fixed,
					.inner-wrapper-sticky
					{
						transform: translate(0, 0); /* For browsers don't support translate3d. */
					    transform: translate3d(0, 0, 0);
					    will-change: position, transform;
					    
						position: fixed;
						width: 20%;
						padding-right: 3rem;
						bottom: 0;
						
						@include display-flex;
						@include flex-wrap(wrap);
						
						& > *
						{
							width: percentage(1/1);
							margin-bottom: 2rem;
							font-size: 12px;
							
							a
							{
								border-bottom: none;
								font-family: $font-midashi;
							}
							
							span.en
							{
								display: block;
								font-family: $font-en;
								font-weight: bold;
								letter-spacing: .2em;
								font-size: 8px;
								margin-bottom: .8em;
							}
						}
						
						.quote
						{
							display: none;
							
							width: 100%;
							padding: 0;
							margin-bottom: 3rem;
							
							h2
							{
								font-size: 24px;
								
								br
								{
									display: none;
								}
								
								&:before
								{
									content: none;
								}
							}
							
						}
												
						.issue
						{
							a
							{
								display: inline-block;
								padding-right: 1em;
							}
						}
												
						.hashtag
						{
							width: 100%;
							
							a
							{
								display: inline-block;
								padding-right: 1em;
							}
							
							a:before
							{
								content: '#';
							}
						}
					}
					
					
					&.isReachedToFooter .fixed
					{
						position: absolute;
						width: calc(100% + 2.5rem);
						bottom: -2rem;
					}
					
				}
				
				& > .post
				{
					width: 80%;
					max-width: 46em;
					
/*
					@include responsive-font-size(14px);
					
					
					header
					{
						h2
						{
							@include responsive-font-size(26px);
						}
					}
					
					.body
					{
						@include responsive-font-size(14px);
						
						h2
						{
							@include responsive-font-size(20px);
						}
					}
*/
				}
				
			}
			
			
			@media only screen and (min-width: 1024px) and (min-height: 700px)
			{
				& > .postMeta
				{
					.fixed,
					.inner-wrapper-sticky
					{
						bottom: 2rem;
						
						& > *
						{
							margin-bottom: 3rem;
						}
						
						.quote
						{
							display: block;
						}
					}
					
					&.isReachedToFooter .fixed
					{
						bottom: -3rem;
					}
					
				}
			}
			
			
			@media only screen and (min-width: 1280px) and (min-height: 700px)
			{
				
				& > .post
				{
					width: 70%;
				}
				
				& > .postMeta
				{
					width: 30%;
					
					.fixed
					{
						width: 30%;
					
						& > *
						{
							width: percentage(1/2);
						}
						
						.hashtag
						{
							width: percentage(1/1);
						}
						
						.quote
						{
							h2
							{
								br
								{
									display: block;
								}
							}
						}
					}
				}
			}
			
			
			@media only screen and (min-width: 1440px)
			{
				
				& > .post
				{
					width: 60%;
				}
				
				& > .postMeta
				{
					width: 40%;
					
					.fixed
					{
						width: 40%;
						
						& > *
						{
							width: percentage(1/3);
						}
						
						.hashtag
						{
							width: percentage(1/3);
						}
					}
				}
			}
		}
		
	}
	
	&.archive,
	&.works
	{
		@media only screen and (min-width: 1024px)
		{
			padding: 0 2rem;
			padding-top: 6rem;
		}
		
		.posts
		{
			
			& > h2
			{
				//font-family: $font-en;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				
				&:after
				{
					content: '';
					display: block;
					width: 2rem;
					height: 3px;
					background-color: $black;
					margin: 2rem auto;
				}
			}
			
			
			.list
			{
				.post
				{
					padding: 1rem;
					margin-bottom: 0;
					
					@media only screen and (min-width: 1024px)
					{
						padding: 2rem;	
						margin-bottom: 1rem;
					}
					
					/*
&:nth-child(3n+1)
					{
						
						a
						{
							@include flex-direction(column);
						}
						
						.photo
						{
							width: 100%;
							padding-bottom: percentage(3/5);
							margin-bottom: 1rem;
						}
						
						.text
						{
							padding-left: 0;
						}
					}
*/
				}
			}
		}
	}
	
	&.works
	{
		.posts
		{			
			& > h2
			{
				font-family: $font-en;
				
				& + p
				{
					text-align: center;
				}
			}
		}
		
		.company
		{
			padding: 0 1rem;
			font-family: $font-midashi;
			
			img
			{
				display: block;
				width: 100%;
				max-width: 200px;
				margin: 2rem auto;
				margin-top: 4rem;
			}
			
			nav
			{
				margin-top: 2rem;
			}
			
			
			@media only screen and (min-width: 1024px)
			{			
				dl
				{
					max-width: 500px;
					
					dt
					{
						width: 20%;
					}
					dd
					{
						margin-left: 20%;
					}
				}
			}
		}
		
		.works-section__company-block
		{
			& * 
			{
				font-family: $font-midashi;
				font-weight: bold;
				font-size: 15px;
				line-height: 1.5em;
				margin-bottom: 1em;
			}
		}
	}
	
	&.term
	{
		max-width: 600px;
		margin: 0 auto;
	}
	
	&.about
	{
		
		h2
		{
			font-family: $font-midashi;
			font-weight: bold;
			font-size: 28px;
			margin-bottom: 1.5em;
			color: $black;
		}
		
		pre, p
		{
			font-family: $font-midashi;
			font-size: 15px;
			line-height: 1.8em;
			background-color: transparent ;
			border: none ;
			padding: 0;
			margin: 0;
			margin-bottom: 3rem;
			color: $black;
		}
		
		.manifest
		{
			border: solid 3px;
			margin-top: 4rem;
			margin-left: -9px;
			margin-right: -3px;
			padding: 1rem 1rem;
			text-align: center;
			box-shadow: 6px 6px 0 $white, 9px 9px 0 $black;
			
			
			h2
			{
				font-family: $font-en;
				
				&:after
				{
					content: '';
					display: block;
					width: 2rem;
					height: 3px;
					background-color: $black;
					margin: 2rem auto;
				}
			}
			
			.btn
			{
				font-family: $font-en;
			}
				
		}
		
		@media only screen and (min-width: 1024px)
		{		
			
			.about
			{
				@include display-flex;
				@include justify-content(center);
			}
			
			.manifest
			{
				width: 720px;
				padding: 2rem;
				margin: 0 auto;
				margin-top: 8rem;
				border-width: 5px;
				box-shadow: 6px 6px 0 $white, 11px 11px 0 $black;	
				
				nav
				{
					margin:  3rem auto;
				}
				
				h2
				{
					margin-bottom: 1em;
				}
			}
			
			h2
			{
				font-size: 48px;
			}
			
			pre, p
			{
				font-weight: bold;
				font-size: 21px;
				line-height: 1.9em;
			}
			
		}
	}
	
	&.contact
	{
		max-width: 52em;
		margin-left: auto;
		margin-right: auto;
		
		.container
		{
			width: auto !important;
		}
		
		
		h1, h2
		{
			font-family: $font-midashi;
			font-weight: bold;
			font-size: 28px;
			margin-bottom: .2em;
			color: $black;
		}
		h1
		{
			font-family: $font-en;
		}
		
		.works-section__caption
		{
			margin-bottom: 2rem;
		}
		
		pre, p
		{
			font-family: $font-midashi;
			font-size: 15px;
			line-height: 1.8em;
			background-color: transparent ;
			border: none ;
			padding: 0;
			margin: 0;
			margin-bottom: 3rem;
			color: $black;
		}
		
		input[type="textarea"], input[type="text"], input[type="email"], input[type="url"], input[type="tel"], textarea
		{
			border: 0 !important;
			width: 100% !important;
			padding: 20px;

			margin-top: .5em;
			border: solid $borderWidth $black !important;
			border-radius: 0;
		}
		
		button, html input[type=button], input[type=reset], input[type=submit]
		{
			-webkit-appearance: none;
			border: none;
			
			@extend .btn; 
		}
		
		@media only screen and (min-width: 1024px)
		{		
			
			h1, h2
			{
				font-size: 48px;
			}
			
			pre, p
			{
				font-weight: bold;
				font-size: 21px;
				line-height: 1.9em;
			}
			
		}
		
	}
	
	&.members
	{
		.works-section__title
		{
			font-family: $font-en;
		}
		
		.works-section__caption
		{
			font-family: $font-midashi;
		}
		
		.works-block__img
		{
			a
			{
				border-bottom: none;
				font-family: $font-midashi;
			}
			
			img
			{
				display: block;
				max-width: 180px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 1em;
			}
		}
		
		.works-block__text
		{
			text-align: center;
			
			a
			{
				border-bottom: none;
				font-family: $font-midashi;
			}
		}
		
		.works-block__btn
		{
			a
			{
				border-bottom: none;
				font-family: $font-midashi;
				
				@extend .btn;
			}
		}
		
		.works-section:nth-child(2)
		{
			.works-block__img
			{
				img
				{
					max-width: 120px;
				}
			}
		}
	}
	
	&.featureArchive.archive,
	&.post-60390.archive
	{
		padding-left: 0;
		padding-right: 0;
		
		@media only screen and (min-width: 1024px)
		{
			padding-left: 3rem;
			padding-right: 3rem;
		}
		
		.posts
		{
			h3
			{
				font-weight: bold;
				font-size: 30px;
				line-height: 1.2em;
				margin: 0;
				margin-top: .3em;
				margin-left: 1rem;
				
			
				&:before
				{
					content: '特集';
					font-weight: bold;
					font-size: 8px;
					line-height: 1;
					padding: .3em .5em;
					padding-right: .2em;
					margin-right: .5em;
					position: relative;
					top: -.25em;
					vertical-align: middle;
					border: solid 1px;
					letter-spacing: .4em;
				}
				
				@media only screen and (min-width: 1024px)
				{
					margin-left: 2rem;
					font-size: 40px;

					&:before
					{
						font-size: 16px;
					}
				}
			}
			
			.list.masonry
			{
				margin-top: 0;
				margin-bottom: 4rem;
			}
		}
	}
	
	
	//RESET
	.container
	{
		width: auto !important;
	}
}



.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform( translate(-50%, -50%) scale(.5));
  @include transition( opacity .5s );
  width: 130px;
  opacity: .5;
  
  .pair {
    position: absolute;
    width: 80px;
    height: 30px;
    .dot {
      position: absolute;
      width: 30px;
      height: 30px;
      background: #444;
      border-radius: 50%;
    }
    .dot-2 {
      right: 0px;
    }
  }
  .pair-2 {
    left: 50px;
  }
  .pair-1 {
    animation: spin 1000ms ease-in-out infinite;
  }
  .pair-2 {
    animation: spin 1000ms ease-in-out infinite reverse;
  }
  .pair-1 .dot-1 {
    opacity: 0;
    animation: hide 1000ms ease-in-out infinite reverse;
  }
  .pair-2 .dot-2 {
    opacity: 0;
    animation: hide 1000ms ease-in-out infinite;
  }
}
@keyframes hide {
  0%,49% {
    opacity: 0;
  }

  50%,100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50%,100% {
    transform: rotate(180deg);
  }
}


//SLIDER
#topSlider
{
	&.loading
	{
		position: relative;
		
/*
		&:before
		{
			content: '...';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		
*/
		
		.loader
		{
			display: block;
		}
	}
	
	.loader
	{
		opacity: 0;
	}
	
	.slick
	{
		width: 100vw;
		height: 0;
		padding-bottom: 66%;
		
		& > *
		{
			display: none;
		}

		@media only screen and (min-width: 1024px)
		{
			padding-bottom: 50vh;
		}
		
		&.slick-initialized 
		{
		  
			& > *
			{
			  display: block;
			}
			
		  height: auto;
		  padding-bottom: 0;
		}
	}
	
	
	
	.slick-slide
	{
		position: relative;
		color: $white;
		text-decoration: none;
		width: 100vw;
		//max-width: 900px;
		border-bottom: none;
		
		&:not(.slick-active)
		{
			@include filter(brightness(55%));
		}
		
		&.hideText
		{
			.text
			{
				display: none;
			}
		}
		
		.photo
		{
			position: relative;
			z-index: 9;
			width: 100%;
			height: 0;
			//padding-bottom: 66%;
			padding-bottom: 55%;
			overflow: hidden;

			@media only screen and (min-width: 1024px)
			{
				padding-bottom: 55%;
			}
			
			img
			{
				position: absolute;
				object-fit: cover;
				width: 100%;
				height: 100%;
				@include transition(transform .2s linear);
				-webkit-backface-visibility: hidden; 
				backface-visibility: hidden; 
			}
		}
		
		&.slick-active
		{
			.photo img
			{
				@include transition(transform 5s linear);
				@include transform(scale(1.05));
			}
		}
		
		.text
		{
			position: absolute;
			z-index: 99;
			bottom: 1rem;
			padding: 1rem;
			width: 100%;
			
			h2
			{
				display: inline;
				color: $black;
				font-size: 24px;
				line-height: 1.5em;
				
				span
				{
					//https://css-tricks.com/multi-line-padded-text/
					display: inline;
					background-color: $white;
					padding: .25em;	
					 box-decoration-break: clone;
					 -webkit-box-decoration-break: clone;
				}
			}
			
			.meta
			{
				display: none;
				
				font-family: $font-midashi;
				font-size: 11px;
				font-weight: bold;
				text-shadow: rgba(0,0,0,.7) 0px 0px 3px;
				
				time
				{
					font-size: 11px;
					@extend .font-en;
					margin-right: .5rem;
				}
				
				span
				{
					margin-right: .5rem;
				}
				
			}
			
			
			@media only screen and (min-width: 768px)
			{
				max-width: calc(50% + 2rem);
			}
			
			@media only screen and (max-width: 1023px)
			{
				h2
				{				
					br
					{
						display: none;
					}
				}
				
				.meta
				{
					margin-top: .5em;
					
					.category
					{
						display: block;
					}
				}
			}
			
			@media only screen and (min-width: 1024px)
			{
				
				bottom: .5rem;
				right: 1.5rem;
				padding: 1rem;
			
				h2
				{
					font-size: 27px;
				}
				
				.meta
				{
					margin-top: .5rem;
					font-size: 13px;
					
					time
					{
						font-size: 14px;
						margin-right: 1rem;
					}
					
					span
					{
						margin-right: 1rem;
					}

				}
				
				.text
				{
					max-width: calc(50% + 1rem);
				}
			}
			@media only screen and (min-width: 1600px)
			{
				
				bottom: 1rem;
				right: 2rem;
			}
		}
		
		
		@media only screen and (min-width: 768px)
		{
			padding: 0 1rem;
		}
	}
	
	
	.slick-dots
	{
		$size_sp: 12px;
		$size: 1.5rem;
		
		position: absolute;
		bottom: .2rem;
		right: 50%;
		@include transform(translate(50%));
		z-index: 999;
		width: auto;
		
		@media only screen and (min-width: 768px)
		{
			right: calc(15% + 2rem);
			@include transform(none);
		}
		@media only screen and (min-width: 1024px)
		{
			bottom: 1rem;
			right: auto;
			left: calc(12% + 2rem);
		}
		@media only screen and (min-width: 1140px)
		{
			left: calc(18% + 2rem);
		}
		@media only screen and (min-width: 1600px)
		{
			bottom: 1.5rem;
			left: calc(22% + 2rem);
		}
		@media only screen and (min-width: 1920px)
		{
			left: calc(22% + 3rem);
		}
		
		
		counter-reset: number 0;  
		
		li
		{
			position: relative;
			height: 0;
			width: $size_sp;
			padding-bottom: $size_sp;
			
			counter-increment: number 1;   
			
			span
			{
				position: absolute;
				left: 0;
				display: inline-block;
				width: $size_sp;
				height: $size_sp;
				border-radius: $size_sp;
				margin: 0;
				background-color: transparent;
				border: solid 1px $white;
				opacity: 1;
				
			}
			
			&.slick-active span
			{
				background-color: $white;
			}
			
		}
			
		@media only screen and (min-width: 1024px)
		{
			li
			{
				width: $size;
				padding-bottom: $size;
				
				span
				{						
					border: solid 1px $white;
					background-color: transparent;
					color: $white;
					font-family: $font-en;
					font-weight: bold;
					letter-spacing: 0;
					font-size: 14px;
					line-height: $size;
					width: 100%;
					height: 100%;
					border-radius: 0;
					opacity: 1;
					
					&:before
					{
						content: counter(number);
					}
				}
							
				&.slick-active span
				{
					background-color: $white;
					color: $black;
				}
			}
		}
	}
	
	
	.slick-next,
	.slick-prev
	{
		@media only screen and (min-width: 768px)
		{
			z-index: 99999;
			top: 0;
			height: 100%;
			width: 15%;
			@include transform(none);
		}
		@media only screen and (min-width: 1024px)
		{
			width: 12%;
		}
		@media only screen and (min-width: 1140px)
		{
			width: 18%;
		}
		@media only screen and (min-width: 1600px)
		{
			width: 20%;
		}
		@media only screen and (min-width: 1920px)
		{
			width: 22%;
		}
	}
	.slick-next
	{
		@media only screen and (min-width: 768px)
		{
			right: 0;
			
			&:before
			{
				content: url(../../assets/img/arrow_bold.svg);
				position: absolute;
				top: 50%;
				right: 1rem;
				@include transform(scale(1.5) translate(-50%, -60%));
				@include transition(transform .2s);
			}

		}
	}
	.slick-prev
	{
		@media only screen and (min-width: 768px)
		{
			left: 0;
			
			&:before
			{
				content: url(../../assets/img/arrow_bold.svg);
				position: absolute;
				top: 50%;
				left: 1rem;
				@include transform(scale(1.5) scaleX(-1) translate(-50%, -60%));
				@include transition(transform .2s);
			}
		}
	}
}


.quote
{		
				
	a
	{
		color: $black;
		text-decoration: none;
		border-bottom: none;
		padding: 1rem 1.5rem;
		padding-left: 3.5rem;
		padding-bottom: 2rem;
				
		@include display-flex;
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(center);
		
	
	}
	
	h2
	{
		position: relative;
		font-size: 22px;
		line-height: 1.4em;
		font-weight: bold;
		margin: 0;
		margin-bottom: .5rem;
		
		&:before
		{
			content: '“';
			position: absolute;
			@include transform(translate(-110%,.12em));
			font-size: 76px;
			font-weight: bold;
			vertical-align: middle;
		}
	}
	
	p
	{
		margin: 0;
		font-family: $font-midashi;
		font-size: 12px;
		color: #9B9B9B;
		
		&:before
		{
			content: '――';
			letter-spacing: -.2em;
			margin-right: .5em;
		}
	}
	
	@media only screen and (min-width: 768px)
	{
		h2
		{
			font-size: 26px;
		}
	}
}
.keywords
{
	text-align: center;
	padding: .1rem;
	
	h2
	{
		@include transform(translateX(-3%));
		
		img
		{
			width: auto;
		}
	}
	
	a
	{
		display: inline-block;
		padding: .1em .75em;
		margin: .4em .1em;
		border: solid 2px;
		border-radius: 2em;
		color: $black;
		text-decoration: none;
		font-family: $font-midashi;
		font-weight: bold;
		font-size: 14px;
		background-color: $white;
		
		&:hover
		{
			background-color: $btnHoverColor;
			border-color: $btnHoverColor;
			color: $white;
		}
	}
}
#topQuoteKeywordsWrapper
{	
	@media only screen and (max-width: 1023px)
	{
		.keywords
		{			
			background-color: $white;
			background-image: url(../../assets/img/menphis1.png);
			background-repeat: repeat;
			background-size: 25%;
			//border-top: solid 1px #9B9B9B;
			//border-bottom: solid 1px #9B9B9B;
			padding-bottom: 1.5rem;
		}
	}
	@media only screen and (min-width: 1024px)
	{
		padding: 0 2rem;
		
		.wrap
		{
			@include display-flex;
			@include flex-wrap(wrap);
			@include align-items(center);
			
			padding: 2rem 0;
			margin-bottom: -1rem;
			border-top: solid $borderWidth $black;
		}
		
		.quote
		{
			position: relative;
			width: 50%;
			padding: 0 1rem;
				
			@include display-flex;
			@include flex-wrap(wrap);
			@include align-items(center);
			@include justify-content(center);
			
			//@include display-flex;
			//@include justify-content(center);
			
			&:after
			{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: -7px;
				height: 100%;
				width: $borderWidth;
				transform: rotate(5deg);
				background-color: $black;
			}
			
			.slick-list
			{
				overflow: visible;
			}
		}
		
		.keywords
		{
			width: 50%;
			padding: 0 1rem;
			margin:  -1em;
			margin-left: 1em;
			
			h2
			{
				margin-top: 0;
				margin-bottom: .8em;
			}
			
			a
			{
				font-size: 13px;
			}
		}
	}
}


#topMainPosts
{
	margin-top: 3rem;
	
	h2
	{
		margin-top: 0;
		font-size: 14px;
		line-height: 1.5em;
		font-weight: bold;
	}
		
	@media only screen and (min-width: 768px)
	{
		margin-top: 2rem;
		padding: 0 2rem;
		
		
		h2
		{
			font-size: 17px;	
		}
		
		.wrap
		{
			border-top: solid $borderWidth;
			padding-top: 4rem;
			padding-bottom: 1rem;
		}
	}
	
	.wrap
	{
		position: relative;
	}
	
		.switchTab
		{
			.panel-radios
			{
				display: none;
			}
			
			@media only screen and (max-width: 767px)
			{
			
				.panels section {
				    max-height: 0;
				    overflow: hidden;
				}
		
				
				#panel-1-ctrl:checked ~ .panels section:nth-child(1), 
				#panel-2-ctrl:checked ~ .panels section:nth-child(2)
				{
				  max-height: initial;
				  opacity: 1;
				}
				
				#panel-1-ctrl:checked ~ .tabs-list li:nth-child(1), 
				#panel-2-ctrl:checked ~ .tabs-list li:nth-child(2)
				{
				  pointer-events: none;
				  cursor: default;
			      padding: 0 1rem;
			      
			      
				    
				    &:nth-child(1)
				    {
					    padding-right: 0 !important;
				    }
				    
				    &:nth-child(2)
				    {
					    padding-left: 0 !important;
				    }
				  
				  
				  label
				  {
					  background-color: $white;
				      border-color: $black;
				      padding: 0;
					  opacity: 1;
					  mix-blend-mode: normal;
					  
				      span
				      {
					      display: inline;
				      }
				      
				      img
				      {
					      margin-top: 1em;
				      }
				  }
				  
				}
			
				.tabs-list {
				  @include display-flex;
				  @include flex-wrap(wrap);
				  list-style: none;
				  text-align: center;
				  margin: 0;
				  padding: 0;
				  border-bottom: solid $borderWidth;
				  margin-bottom: 1rem;
				  
				  li 
				  {
				  	width: 50%;
				    text-align: center;
				    position: relative;
				    padding: 0 1rem;
				    line-height: 0;
				    
				    label
				    {
				      position: relative;
				      font-size: 10px;
						font-family: $font-en;
						font-weight: bold;
						letter-spacing: 0;
				      padding: 0;
				      margin: 0;
				      border: solid $borderWidth transparent;
				      border-top-color: $black;
					  border-bottom-color: $white !important;
					  @include transform(translateY($borderWidth));
					  display: block;
					  opacity: .5;
					  text-align: center;
					  mix-blend-mode: multiply;
					  cursor: pointer;
				      
				      img
				      {
					      width: 100%;
							margin: 1em auto;
							margin-bottom: 0;
							margin-top: 1.1em;
							//width: auto;
							//height: 4.5vw;
				      }
				      
				      span
				      {
					      display: none;
				      }
				    }
				  }
				}
			
			
				.panels
				{
					padding: 1rem;
					
					.btn
					{
						width: calc(100% - 2rem);
					}
				}
				
		
				.post
				{
					a
					{
						position: relative;
						display: block;
						border-bottom: none;
						
						.photo
						{
							position: relative;
							height: 0;
							width: 100%;
							padding-bottom: percentage(3/5);
							margin-bottom: 1rem;
							
							img
							{
								position: absolute;
								object-fit: cover;
								width: 100%;
								height: 100%;
							}
						}
					}
					
					&:nth-child(1)
					{
						a 
						{
							.photo
							{
								padding-bottom: percentage(3/5);
							}
							
							.text
							{
								margin-bottom: 2rem;
								
								h2
								{
									font-size: 20px;
									font-weight: bold;
								}
							}
						}
						
						
					}
					
					&:not(:nth-child(1))
					{	
						a
						{
							@include display-flex;
							@include align-items(flex-start);
							
							.photo
							{
								width: percentage(1/2);
								padding-bottom: percentage(1/2*3/5);
							}
							
							.text
							{
								@include flex(1);
								padding-left: 1rem;
								
								h2
								{
									font-size: 14px;
									font-weight: bold;
								}
							}
						}
					}
				}
			}
			
			
			@media only screen and (min-width: 768px)
			{
				max-width: 1280px;
				padding: 0 2rem;
				margin: 0 auto;
				
				
				&:before
				{
					content: '';
					display: block;
					position: absolute;
					width: $borderWidth;
					height: calc(100% - 5rem);
					margin-top: .5rem;
					left: 50%;
					top: 50%;
					@include transform(translate(-50%, -50%));
					background-color: $black;
				}
				
				.tabs-list
				{
					@include display-flex;
					@include justify-content(space-around);
					padding-left: 0;
					list-style: none;
					margin-bottom: 4rem;
					
					li
					{
						line-height: 0;
						text-align: center;
						
						label
						{
							img
							{
								margin-bottom: -.5rem;
							}
						}
						
						span
						{		
	font-family: $font-en;
	font-weight: bold;
	letter-spacing: 0;
							font-size: 17px;
						}
					}
				}
				
				
		
				.post
				{
					padding: 0;
					
					a
					{
						@include display-flex;
						@include align-items(flex-start);
						position: relative;
						border-bottom: none;
						
						.photo
						{
							position: relative;
							height: 0;
							width: percentage(1/2);
							padding-bottom: percentage(1/2*3/5);
							margin-bottom: 2rem;
							
							img
							{
								position: absolute;
								object-fit: cover;
								width: 100%;
								height: 100%;
							}
						}
						
						.text
						{
							@include flex(1);
							padding-left: 2rem;
							font-size: 18px;
							font-weight: bold;
						}
					}
						
				}
				
				
				.panels
				{
					@include display-flex;
					
					section
					{
						@include flex(1);
						
						&:nth-child(odd)
						{
							padding-right: 4rem;
						}
						&:nth-child(even)
						{
							padding-left: 4rem;
						}
						
						.btn
						{
							max-width: none;
						}
					}
				}
			}
			
			
			@media only screen and (min-width: 1024px)
			{
				.post
				{					
					h2
					{
						font-size: 19px;
					}
				}
			}
		}
		
		
	@media only screen and (min-width: 768px)
	{
		.tabs-list
		{
			li
			{
				position: relative;
			}
			
			li:before
			{
				position: absolute;
				left: 50%;
				top: 0;
				@include transform(scale(.3) translate(-170%, -120%));
				z-index: -9;
				
			}
			
			li:nth-child(1):before
			{
				content: url(../../assets/img/L.svg);
			}
			li:nth-child(2):before
			{
				content: url(../../assets/img/W.svg);
			}
		}
	}
}


#topFeature
{
	max-width: calc(1280px + 2rem);
	margin: 0 auto;
	margin-bottom: 1rem;
	padding: 0 1rem;
	padding-top: 1rem;

	border: solid 15px $beige;
	
	//background-image: url(../../assets/img/rect45.svg);
	//padding: 15px;

/*
	//ジグザグ 1本
	border: solid;
	border-width: 29px 26px 28px;
	border-image-source: url(../../assets/img/border-zigzag.svg);
	border-image-slice: 29 26 28;
	border-image-repeat: round;
*/
	
/*
	//ジグザグ 2本
	border: solid;
	border-width: 29px 26px 28px;
	border-image-source: url(../../assets/img/border-zigzag2.svg);
	border-image-slice: 37 33 28;
	border-image-repeat: round;
*/

	
	.box
	{
		border: none;
		height: auto;
		
		h2.en:after
		{
			width: 3rem;
			height: 5px;
			margin-top: 1.5rem;
		}
	}
	
	.wrap
	{
		& > h2
		{
			text-align: center;
			
			&.en
			{
				font-family: $font-en;
				font-size: 40px;
				font-weight: bold;
			
				&:after
				{
					content: '';
					display: block;
					width: 1em;
					height: 3px;
					background-color: $black;
					margin: 2rem auto;
				}
				
				& + p
				{
					text-align: center;	
					font-family: $font-midashi;
					font-size: 16px;	
					line-height: 1.6em;	
				
					@media only screen and (min-width: 1024px)
					{
						font-size: 20px;
					}
				}
			}
		}
	}
	
	.posts
	{
		margin-top: 3rem;
	}
	
	.post
	{
		margin-bottom: 2rem;
		
		a
		{
			@include display-flex;
			border-bottom: none;
		}
		
		.text
		{
			@include flex(1);
			padding-left: 1rem;
			line-height: 0;
			
			span
			{
				display: none;
				
				font-weight: bold;
				font-size: 5px;
				line-height: 1;
				padding: .3em .5em;
				padding-right: .2em;
				border: solid 1px;
				letter-spacing: .4em;
			}
			
			h2
			{
				font-weight: bold;
				font-size: 13px;
				line-height: 1.2em;
				margin: 0;
				margin-top: .3em;
			}
			
			p
			{
				font-size: 12px;
				line-height: 1.4em;
				margin-top: .3em;
				margin-bottom: 0;
			}
		}
		
		.photo
		{
			width: 50%;
			height: 0;
			padding-bottom: percentage(3.5/5*1/2);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			
			img
			{
				display: none;
				
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		
		@media only screen and (max-width: 1023px)
		{
			margin-bottom: 1rem;
		
			a
			{
				@include flex-direction(column-reverse);
			}
						
			.text
			{
				padding-left: 0;
				
				span
				{
					font-size: 9px;
					display: inline-block;
				}
				
				h2
				{
					font-size: 28px;
				}
				
				p
				{
					
				}
			}
			
			.photo
			{
				width: 100%;
				background-image: none;
				margin-bottom: 1.5em;
				margin-top: 1em;
				padding-bottom: 60%;
				
				img
				{
					display: block;
				}
			}
		}
	}
	
	
	
	@media only screen and (min-width: 1024px)
	{
		padding: 0 3rem;
		padding-bottom: 2rem;
		margin-top: 4rem;
		
		.box
		{
			width: 100%;
			
			p
			{
				br
				{
					display: none;
				}
			}
		}
		
		.wrap
		{
			max-width: 1280px;
			padding: 0;
			margin: 0 auto;
		}
		
		.posts
		{
			@include display-flex;
			@include flex-wrap(wrap);
		}
		
		.post
		{
			width: calc(50% - 1rem);
			padding: 0;
			
			&:nth-child(even)
			{
				//padding-right: 2rem;
				//padding-left: 0;
			}
			&:nth-child(odd)
			{
				padding-left: 2rem;
				//padding-right: 0;
			}
			
			.text
			{
				span
				{	
					display: inline-block;
				}
				
				h2
				{
					font-size: 22px;
					line-height: 1.2em;
				}
				
				p
				{
					font-size: 17px;
				}
			}
			
			&:nth-child(1)
			{
				width: 100%;
				margin-bottom: 4rem;
				padding-left: 0;
				
				a
				{
					@include flex-direction(row);
					@include align-items(flex-start);
				}
				
				.photo
				{
					width: calc(50% - 2rem);
					margin-bottom: 0;
					padding-bottom: percentage(3/5*1/2);
				}
				
				.text
				{
					padding-left: 2rem;
					padding-right: 1rem;
					padding-bottom: 1rem;
					//margin-top: 1.5rem;
					
					span
					{
						font-size: 12px;
						border-width: 2px;
					}
					
					h2
					{
						font-size: 40px;
					}
				}
			}
			
			
		}
	}
	
	
	
	@media only screen and (min-width: 1280px)
	{
		.post
		{
			&:nth-child(even)
			{
				//padding-right: 3rem;
			}
			&:nth-child(odd)
			{
				//padding-left: 3rem;
			}
			
			.photo
			{
				//width: percentage(1/2);
				width: calc(50% - 1rem);
				padding-bottom: percentage(3/5*1/2);
			}
			
			.text
			{
				padding-left: 2rem;
			}
			
			&:nth-child(1)
			{
				padding-left: 0;
				
				.photo
				{
					//width: percentage(1/2);
					width: calc(50% - 2rem);
				}
				
				.text
				{
					padding-left: 3rem;
					padding-bottom: 2rem;
				}
			}
		}
		
	}
}


#topEvents
{
	padding-top: 1rem;
	
	& + hr
	{
		border-width: 3px;
		margin: 5rem auto;
		border-color: $black;
	}
	
	.wrap
	{
		max-width: 1280px;
		padding: 0 2rem;
		margin: 0 auto;
		
		& > h2
		{
			
			&.en
			{
				font-family: $font-en;
				font-size: 40px;
				font-weight: bold;
			
				&:after
				{
					content: '';
					display: block;
					width: 1em;
					height: 3px;
					background-color: $black;
					margin: 2rem auto;
				}
				
				& + p
				{
					text-align: center;	
					font-family: $font-midashi;
					font-size: 16px;	
					line-height: 1.6em;	
				
					@media only screen and (min-width: 1024px)
					{
						font-size: 20px;
					}
				}
			}
		}
	}
	
	
	.list.event
	{
		
		@media only screen and (min-width: 1024px)
		{
			padding: 0;
			@include justify-content(space-between);
			
			article
			{
				width: calc( 33.33% - 2rem);
			}
			
			.post
			{
				padding: 0;
				margin-bottom: 5rem;
				
				.text
				{
					padding-top: 0;
				}
			}
		}
	
	}
	
	@media only screen and (min-width: 1024px)
	{
		& > .wrap > h2.en
		{
			margin-top: 6rem;
		}
		
		.btn
		{
			margin-top: -1.5rem;
			margin-bottom: 4rem;
		}
	}
}


#topServices
{
	.wrap
	{
		max-width: 1280px;
		padding: 0 1rem;
		margin: 0 auto;
			
		& > h2
		{
			width: 77%;
			max-width: 550px;
			margin:  0 auto;
			font-family: $font-en;
			font-size: 40px;
			font-weight: bold;
			
			&:after
			{
				content: '';
				display: block;
				width: 1em;
				height: 3px;
				background-color: $black;
				margin: 2rem auto;
			}
			
			& + p
			{
				text-align: center;	
				font-family: $font-midashi;
				font-size: 16px;	
				line-height: 1.6em;	
				
				@media only screen and (min-width: 1024px)
				{
					font-size: 20px;
				}
			}
		}
		
		.list
		{
			margin-top: 4rem;
			padding: 0 1rem;
						
			@include display-flex;
			@include flex-wrap(wrap);
			@include justify-content(space-between);
			
			.item
			{
				width: calc(50% - .5rem);
				
				a
				{
					display: block;
					margin-bottom: 2rem;
					border-bottom: none;
					
					.photo
					{
						background-color: $btnColor;
						background-position: 50% 50%;
						background-size: cover;
						//padding: 15% 0;
						
						img
						{
							@include transform(none);
						}
						
					}
					
					&:hover .photo
					{
						//background-color: $btnHoverColor;
						
						img
						{
							@include transform(none);
							@include transform(none);
						}
					}
				}
				
				img
				{
					//filter: brightness(100);
				}
			}
			
			h2
			{
				font-size: 14px;
				margin-bottom: .5em;
			}
			
			p
			{
				font-size: 12px;
				margin-top: 0;
				margin-bottom: 0;
			}
			
			
			@media only screen and (min-width: 768px)
			{
				@include display-flex;
				@include flex-wrap(wrap);
				margin: 0 -1rem;
				padding: 0;
			
				.item
				{
					width: percentage(1/2);
					
					a
					{
						padding: 0 1rem;
						margin-bottom: 1.5rem;
					}
				}
				
				& > h2
				{			
					& + p
					{
						font-size: 22px;	
					}
				}
			}
			
			@media only screen and (min-width: 1024px)
			{
				margin: 0;
				margin-top: 4rem;
				
				
				.item
				{
					width: calc( 33.33% - 2rem);
					
					a
					{
						margin-bottom: 3rem;
						padding: 0;
					}
				}
			}
			
			@media only screen and (min-width: 1280px)
			{
				margin: 0 -2rem;
				
				.item
				{
					width: percentage(1/4);
					
					a
					{
						padding: 0 2rem;
					}
				}
			}
		}
	}
	
	nav
	{
		width: 100%;
		margin: 0 auto;
		margin-top: 1rem;
		
		.btn
		{
			font-family: $font-en;
		}
	}
	
	
	@media screen and (min-width: 1024px)
	{
		padding: 0 2rem;
	}
}





#footer
{
	position: relative;
	background-color: $black;
	color: $white;
	text-align: center;
	margin-top: 5rem;
	
	.wrap
	{
		max-width: 1280px;
		margin: 0 auto;
		padding: 2rem 0;
		padding-bottom: 1rem;
		
	    @media screen and (min-width: 1024px) 
	    {
		    padding-left: 3rem;
	    }
		@media screen and (min-width: 1380px) 
		{
			
		    padding-left: 0;
		}
	}
	
	.credit
	{
		margin-top: 3rem;
		@extend .font-en;
		font-size: 12px;
	}
	
	.flex
	{
        
        h1
        {
	        margin: 0;
	        
	        img
	        {
		        width: 160px;
	        }
        }
        
        ul
        {
	        margin-bottom: 2rem;
	        padding-left: 0;
	        list-style: none;
	        
	        li
	        {
		        margin-bottom: .5rem;
		        
		        a
		        {
			        color: $white;
			        border-bottom: none;
					font-family: $font-midashi;
			        
			        img
			        {
				        height: 14px;
				        width: auto;
			        }
		        }
	        }
        }
        
	}
	
	
	.SNSs
	{
		a
		{
			$size: 2rem;
			
			border: solid 1px transparent;
			background-color: $white;
			color: $black;
			display: inline-block;
			line-height: $size;
			width: $size;
			height: $size;
			border-radius: $size;
			margin: 0 .2rem;
			margin-top: 1.5rem;
			text-align: center;
		}
	}
	
    @media screen and (max-width: 1023px) 
    {
	    .menu, .submenu
	    {
		    display: none;
	    }
    }
	
    @media screen and (min-width: 1024px) 
    {
		text-align: left;
		padding: 3rem 0;
		padding-top: 2rem;
		
		.flex
		{
	        @include display-flex();
	        @include justify-content(space-around);
	        
	        h1
	        {
		        @include flex(3);
		        margin: 0;
		        
		        img
		        {
			        width: 130px;
		        }
	        }
	        
	        ul
	        {
		        @include flex(1);
		        margin: 0;
		        padding-top: 2.5rem;
		        
		        a
		        {
			        font-size: 13px;
			        font-weight: bold;
		        }
		        
		        &:nth-of-type(1):before
		        {
			        content: 'Contents';
			        display: block;
			        margin-top: -2rem;
					margin-bottom: 1rem;
					font-weight: bold;
					font-family: $font-en;
					font-size: 12px;
					letter-spacing: 2px;
					text-transform: uppercase;
		        }
		        
		        &:nth-of-type(2):before
		        {
			        content: 'About Us';
			        display: block;
			        margin-top: -2rem;
					margin-bottom: 1rem;
					font-weight: bold;
					font-family: $font-en;
					font-size: 12px;
					letter-spacing: 2px;
					text-transform: uppercase;
		        }
	        }
	        
        }
        
        
        .SNSs
        {
	        a
	        {
		        font-size: 16px;
	        }
        }
        
	    
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


