<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">
	
	<title><%= current_page.data.title || "Middleman" %></title>
	<%= stylesheet_link_tag "normalize" %>
	<%= stylesheet_link_tag "main" %>
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    
    
    <header id="header"><div class="wrap">
        
        <h1 id="siteLogo"><a href="/"><img src="/assets/img/yadokari_logo_horizontal_simple.svg" alt="YADOKARI - みつけよう、これからの暮らしかた"></a></h1>
        
        <nav id="headerMenu">
	        <a href="/">未来住まい方会議</a>
	        <a href="/">未来働き方会議</a>
	        <a href="/">特集</a>
	        <a href="/">イベント</a>
	        <a href="/about">YADOKARIについて</a>
        </nav>
        
        
		<nav id="nav" class="main-navigation" role="navigation">
			
<!-- 	        <a id="headerAbout" href="/about">YADOKARIについて</a> -->
<!-- 	        <a id="headerSearch" href="/?search"><i class="ion-ios-search-strong"></i></a> -->
	        
		      <input id="hamburger" type="checkbox" style="display: none;">
		      <label id="hamburger-label"for="hamburger"><span></span></label>
		      <div id="megamenu"><div class="megamenu-wrap">
				
			  	<ul class="menu">
				  	<li><a href="/list">未来住まい方会議</a></li>
				  	<li><a href="/list">未来働き方会議</a></li>
				  	<li><a href="/list">特集</a></li>
				  	<li><a href="/list">イベント</a></li>
			  	</ul>
			  	
			  	
			  	<ul class="submenu">
			        <li class="primary"><a href="/about">YADOKARIについて</a></li>
			        <li><a href="/member">メンバー</a></li>
			        <li><a href="/company">会社概要／実績</a></li>
			        <li><a href="/about">採用情報</a></li>
			        <li><a href="/ads">広告掲載</a></li>
			        <li class="noborder"><a href="/term">利用規約</a></li>
			        <li class="noborder"><a href="/contact">お問い合わせ</a></li>
			  	</ul>
			  	
<!-- 			  	<nav><a class="btn" href="/contact">お問い合わせ</a></nav> -->
				
		      </div></div>
		</nav><!-- #site-navigation -->
        
    </div></header>

        
    <%= yield %>
    
    
	<a id="toTop"><img src="/assets/img/arrow_bold.svg"></a>    
    
    <footer id="footer"><div class="wrap">
	    
	    <div class="flex">		    
	        <h1 class="hide-on-sp">
		        <a href="/"><img src="/assets/img/yadokari_logo_horizontal_wh.svg" alt="YADOKARI - みつけよう、これからの暮らしかた"></a>
		        <div class="hide-on-sp SNSs">
			        <a href="https://www.facebook.com/yadokari.mobi" target="_blank"><i class="ion-social-facebook"></i></a>
			        <a href="https://twitter.com/yadokari_mobi" target="_blank"><i class="ion-social-twitter"></i></a>
			        <a href="https://www.instagram.com/yadokari_mobi" target="_blank"><i class="ion-social-instagram-outline"></i></a>
		        </div>
	        </h1>
	    
		  	<ul class="menu">
			  	<li><a href="/list">未来住まい方会議</a></li>
			  	<li><a href="/list">未来働き方会議</a></li>
			  	<li><a href="/list">特集</a></li>
			  	<li><a href="/list">イベント</a></li>
		  	</ul>
		  	
		  	
		  	<ul class="submenu">
		        <li><a href="/about">YADOKARIについて</a></li>
		        <li><a href="/member">メンバー</a></li>
		        <li><a href="/works">活動事例</a></li>
		        <li><a href="/company">会社概要／実績</a></li>
		        <li><a href="/about">採用情報</a></li>
		  	</ul>
		  	
		  	
		  	<ul class="submenu">
		        <li><a href="/contact">お問い合わせ</a></li>
		        <li><a href="/ads">広告掲載</a></li>
		        <li><a href="/term">利用規約</a></li>
		  	</ul>
		  	
		  	
	        <h1 class="hide-on-pc"><a href="/"><img src="/assets/img/yadokari_logo_horizontal_wh.svg" alt="YADOKARI - みつけよう、これからの暮らしかた"></a></h1>
	        <div class="hide-on-pc SNSs">
		        <a href="https://www.facebook.com/yadokari.mobi" target="_blank"><i class="ion-social-facebook"></i></a>
		        <a href="https://twitter.com/yadokari_mobi" target="_blank"><i class="ion-social-twitter"></i></a>
		        <a href="https://www.instagram.com/yadokari_mobi" target="_blank"><i class="ion-social-instagram-outline"></i></a>
	        </div>
	    </div>
	    
	    
<!--
	    <div class="banners">
		    <a href="http://tsukigime.yadokari.net" target="_blank"><img src="/assets/img/banner/intro2-01.png" alt="月極本"></a>
		    <a href="http://tsukigime.yadokari.net" target="_blank"><img src="/assets/img/banner/intro2-01.png" alt="月極本"></a>
	    </div>
-->
	    
	    
	    <div class="credit">
		    <small>&copy; 2011- YADOKARI</small>
	    </div>
	    
    </div></footer>
    
    
    <%= javascript_include_tag "vendor/modernizr-3.5.0.min" %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    <%= javascript_include_tag "plugins" %>
    <%= javascript_include_tag "main" %>
	<script type="text/javascript" src="//typesquare.com/3/tsst/script/ja/typesquare.js?5b0cf43342004e0e830f1bc1ac1e02ec" charset="utf-8"></script>
		
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ad2ef18112f913a"></script>
</body>
</html>



