---
title: YADOKARIについて
---


<main id="main" class="main about"><div class="wrap">
	
	<div class="about"><div class="wrap">
		<h2>みつけよう、<br>これからの暮らしかた</h2>
		
<pre>これからの「豊かさ」とは。 
インターネットインフラが整った今、
ひとつの場所に固執し暮らしていく必要が
なくなりつつあります。
YADOKARIは、「ミニマルライフ」
「タイニーハウス」「多拠点居住」を通じ、
暮らし方の選択肢を増やし、「住」の視点から
新たな豊かさを定義し発信していきます。
そして、場所・時間・お金に縛られない
ライフスタイルを実現し、人生の満足度、
幸福度を向上させることを目指します。

「自分にとっての最適な場所」はどこですか。
たとえば、それは海のそば、潮の香りが漂う場所。
森の中、新緑や澄んだ空気に癒される場所。
川のせせらぎに心洗われる場所。
大切な人たちと大切な場所で、
もっともっと自由に暮らしていきたい。
だからシンプルに考えよう。
もっとミニマルに生活しよう。
新しい場所で心が最適化されれば、心は解放され、
僕らはさらにクリエティブに生きられるはず。

YADOKARIは、
「これからの豊かさ」を考え
実践する為のコミュニティです。</pre>
	</div></div>
		
	<div class="manifest"><div class="wrap">
		
		<h2 class="en">MANIFEST</h2>
<pre>人生はクリエイティブだ。
僕らは湧き上がる好奇心に
従う勇気を持っているだろうか？
もっと人と繋がりたい。もっと文化に触れたい。
もっと世界中を旅したい。もっと自分を信じたい。
僕らは、凝り固まった心と体をぶち壊し、
明日をつくっていく力を秘めたアーティストだ。
あなたの好奇心はなんですか？
悔いのない今を、一瞬を。</pre>

		<nav><a class="btn" href="/works">COMPANY PROFILE & WORKS</a></nav>
	</div></div>
	
</main>

