---
title: YADOKARI
---

<main id="main" class="home">

<div id="topSlider" class="loading">
	
	<div class="loader">
	  <div class="pair pair-1">
	    <div class="dot dot-1"></div>
	    <div class="dot dot-2"></div>
	  </div>
	  <div class="pair pair-2">
	    <div class="dot dot-1"></div>
	    <div class="dot dot-2"></div>
	  </div>
	</div>
	
	<div class="slick">
	  <a href="/post" class="slide hideText">
		  <div class="text">
			  <h2><span>週末２拠点生活、<br>タイニーハウスで大切な人と<br>極上のコーヒー体験を | The Roast</span></h2>
			  <div class="meta"><time>2018.4.8</time><span>YADOKARI （ YADOKARI編集部 ）</span><span class="category">広告</span></div>
		  </div>
		  <div class="photo"><img src="/assets/img/dummy/29314219_10214560413780569_7006368849905844224_o-1024x538.jpg"></div>		 
	  </a>
	  <a href="/post" class="slide hideText">
		  <div class="text">
			  <h2><span>建設会社の未来。<br>地域に開かれたコミュニティハブ<br>「茅ヶ崎ストーリーマルシェ」の挑戦</span></h2>
			  <div class="meta"><time>2018.4.8</time><span>YADOKARI （ YADOKARI編集部 ）</span><span class="category">未来住まい方会議</span></div>
		  </div>
		  <div class="photo"><img src="/assets/img/dummy/29497697_10214588638046158_3372880294775357440_o-1024x538.jpg"></div>		 
	  </a>
	  <a href="/post" class="slide hideText">
		  <div class="text">
			  <h2><span>【新施設オープン！】日本初「高架下タイニーハウスホステル」2018年春オープン！YADOKARI×京急電鉄</span></h2>
			  <div class="meta"><time>2018.4.8</time><span>YADOKARI （ YADOKARI編集部 ）</span><span class="category">未来住まい方会議</span></div>
		  </div>
		  <div class="photo"><img src="/assets/img/dummy/key_release_preview-1024x614.jpg"></div>		 
	  </a>
	  <a href="/post" class="slide">
		  <div class="text">
			  <h2><span>社屋を失った職能集団「ようび」、<br>その先に得た人との出会い｜<br>第③回 株式会社ようびインタビュー</span></h2>
			  <div class="meta"><time>2018.4.8</time><span>スズキガク</span><span class="category">未来住まい方会議</span></div>
		  </div>
		  <div class="photo"><img src="/assets/img/dummy/DSC_0993.jpg"></div>		 
	  </a>
	  <a href="/post" class="slide">
		  <div class="text">
			  <h2><span>ナガオカケンメイさん③ <br>仕事、生活、旅を同時進行する、<br>拠点としての家</span></h2>
			  <div class="meta"><time>2018.4.8</time><span>スズキガク</span><span class="category">未来住まい方会議</span></div>
		  </div>
		  <div class="photo"><img src="/assets/img/dummy/okinawa_room-1024x768.jpg"></div>		 
	  </a>
  </div>
</div>


<div id="topQuoteKeywordsWrapper"><div class="wrap">
	
	<div class="quote">
		
		<a href="/post"><span>
			<h2>日常から解き放たれたいけど、<br>時間の都合がつかない？</h2>
			<p>ナガオカケンメイさん③ 仕事、生活、旅を同時進行する、拠点としての家</p>	
		</span></a>
		
	</div>
	
	<nav class="keywords">
		
		<h2><img src="/assets/img/keywordsTitle.svg" alt="＼気になる／キーワード"></h2>
		
		<a href="/list">#家の可能性</a>
		<a href="/list">#場所にとらわれない</a>
		<a href="/list">#時間は有限</a>
		<a href="/list">#お金の価値</a>
		<a href="/list">#新・家族のかたち</a>
		<a href="/list">#自然とつながる</a>
		<a href="/list">#モノとの距離</a>
		<a href="/list">#家の可能性</a>
		<a href="/list">#場所にとらわれない</a>
		<a href="/list">#時間は有限</a>
		<a href="/list">#お金の価値</a>
		<a href="/list">#新・家族のかたち</a>
		<a href="/list">#自然とつながる</a>
		<a href="/list">#モノとの距離</a>
		<a href="/list">#家の可能性</a>
		
	</nav>
	
</div></div>


<div id="topMainPosts"><div class="wrap">
	
	<div class="switchTab">
		
		<!-- TAB CONTROLLERS -->
		<input id="panel-1-ctrl" class="panel-radios" type="radio" name="tab-radios" checked>
		<input id="panel-2-ctrl" class="panel-radios" type="radio" name="tab-radios">
		
		<!-- TABS LIST -->
		<ul class="tabs-list">
		    <!-- MENU TOGGLE -->
		    <li>
		      <label class="panel-label" for="panel-1-ctrl"><img src="/assets/img/banner/banner_sumai.svg" alt="未来住まい方会議"><br><span>lifestyle</span></label>
		    </li>
		    <li>
		      <label class="panel-label" for="panel-2-ctrl"><img src="/assets/img/banner/banner_hataraki.svg" alt="未来働き方会議"><br><span>workstyle</span></label>
		    </li>
		</ul>
		
		<div class="panels">
		    
		    <section>
			      <article class="post"><a href="/post">
				      <div class="photo"><img src="/assets/img/dummy/1200x630.jpg"></div>
				      <div class="text"><h2>日本初！第2回「タイニーハウス デザインコンテスト2018 小菅村×YADOKARI」を開催！（応募登録 1/30 作品提出 3/31 まで）</h2></div>
			      </a></article>
			      <article class="post"><a href="/post">
				      <div class="photo"><img src="/assets/img/dummy/Newberry4.jpg"></div>
				      <div class="text"><h2>ミレニアル世代の新ノマドスタイル。LA発のコ・リビングスペース「Podshare」</h2></div>
			      </a></article>
			      <article class="post"><a href="/post">
				      <div class="photo"><img src="/assets/img/dummy/BouwExpo1-1024x795.jpg"></div>
				      <div class="text"><h2>【タイニーハウスに行ってみた】コンテスト入選作が実現した「BouwExpo Tiny Housing」</h2></div>
			      </a></article>
			      <a href="/list" class="btn">もっと見る</a>
		    </section>
		    
		    <section>
			      <article class="post"><a href="/post">
				      <div class="photo"><img src="/assets/img/dummy/IMG_6800-1140x755.jpg"></div>
				      <div class="text"><h2>イタリアで知った「食」の楽しさと大切さを一緒に広めませんか？ 目黒区の緑豊かなオフィスで新たなメンバーを募集！バーチ株式会社</h2></div>
			      </a></article>
			      <article class="post"><a href="/post">
				      <div class="photo"><img src="/assets/img/dummy/DSC_0088-1140x760.jpg"></div>
				      <div class="text"><h2>職場は街！ 自由な発想で住まいや暮らしを提案する人材、求む！ 中古リノベーション住宅のセレクトショップ　株式会社ツクルバcowcamo(カウカモ)事業部</h2></div>
			      </a></article>
			      <article class="post"><a href="/post">
				      <div class="photo"><img src="/assets/img/dummy/DSC04109-1140x758.jpg"></div>
				      <div class="text"><h2>“家しごと”のスキルを活かして、自由な働き方を！ 株式会社CaSy（カジー）</h2></div>
			      </a></article>
			      <a href="/list" class="btn">もっと見る</a>
		    </section>
		    
		</div>
		
	</div>
	
</div></div>


<!-- <hr> -->


<div id="topFeature"><div class="wrap">

	<header class="box">
		<h2 class="en">Feature</h2>
		<p>YADOKARIが注目している<br>旬のテーマを深掘りしてお届け</p>
	</header>
	
	<div class="posts">
		
      <article class="post"><a href="/post">
	      <div class="photo" style="background-image: url(/assets/img/dummy/000257200034-1440x954.jpg)"><img src="/assets/img/dummy/000257200034-1440x954.jpg"></div>
	      <div class="text"><span>特集</span><h2>パーソナル・モビリティ</h2><p>【インタビュー 】「人生やったもん勝ち！」女性ひとりで家を建てた本山早穂さんの、自分でつくる暮らし｜日本でも始まっている小……</p></div>
      </a></article>
		
      <article class="post"><a href="/post">
	      <div class="photo" style="background-image: url(/assets/img/dummy/pptu.jpg)"><img src="/assets/img/dummy/pptu.jpg"></div>
	      <div class="text"><span>特集</span><h2>北欧から学ぶ暮らし方</h2><p>第4回：日本でだって手に入る、<br>夏の家（サマーハウス）の様々なカタチ</p></div>
      </a></article>
		
      <article class="post"><a href="/post">
	      <div class="photo" style="background-image: url(/assets/img/dummy/Chuckanut-Ridge-10.jpg)"><img src="/assets/img/dummy/Chuckanut-Ridge-10.jpg"></div>
	      <div class="text"><span>特集</span><h2>タイニーハウス<br>ムーブメントを紐解く</h2><p>第3回：災害時にも強いエネルギーシフトの形「オフグリッドライフ」の提案</p></div>
      </a></article>
		
	</div>
	
</div></div>


<!-- <hr> -->


<div id="topEvents" class="content-list"><div class="wrap">
	
	<h2 class="en">Event</h2>
	
    <div class="list event">
      <article class="post"><a href="/post">
	      <div class="photo"><img src="/assets/img/dummy/event/180412.jpg"></div>
	      <div class="text"><time>2018.5.5</time><h2>国際協力を仕事にする働き方～NGO・研究・ビジネスの選択～</h2></div>
      </a></article>
      <article class="post"><a href="/post">
	      <div class="photo"><img src="/assets/img/dummy/event/338フェイス.jpg"></div>
	      <div class="text"><time>2018.4.25</time><h2>【イベント 3/28（水）】第3回 朝読書 〜在宅遺産の本に価値を与える〜</h2></div>
      </a></article>
      <article class="post"><a href="/post">
	      <div class="photo"><img src="/assets/img/dummy/event/28822468_1612059195537958_1241470373_o.jpg"></div>
	      <div class="text"><time>2018.4.20</time><h2>限定12人｜鍋座「バンライフ」をつつく夜〜家を持たない？いえいえ、家が動くんです〜</h2></div>
      </a></article>
      <article class="post"><a href="/post">
	      <div class="photo"><img src="/assets/img/dummy/event/28928151_1611178882292656_1899852841_o-1.jpg"></div>
	      <div class="text"><time class="done">2018.4.19</time><h2>ワケあり、でも美味しい 〜新鮮な朝採れ野菜販売「矢祭もったいない市場 」が日本橋に出現〜 Vol.4</h2></div>
      </a></article>
      <article class="post"><a href="/post">
	      <div class="photo"><img src="/assets/img/dummy/event/28879458_1612006155543262_896099671_o.jpg"></div>
	      <div class="text"><time class="done">2018.4.8</time><h2>べったら地想座 第五回・これから南信州が面白い～ リニアがもたらすライフスタイルの変化 〜</h2></div>
      </a></article>
      <article class="post"><a href="/post">
	      <div class="photo"><img src="/assets/img/dummy/event/28876819_1611999748877236_1617867899_o.jpg"></div>
	      <div class="text"><time class="done">2018.3.31</time><h2>開催場所変更！『お笑い算数教室 BETTARA日本橋教室開講！！』</h2></div>
      </a></article>
    </div>
    
	  <a href="/list" class="btn">もっと見る</a>
	
</div></div>


<hr>


<div id="topServices" class="content-list"><div class="wrap">
	
	<h2 class="en balloon">Hello, <br class="hide-on-pc">we are <br>YADOKARI</h2>
	<p>わたしたちは、これからの暮らしかたを、<br>みつけ、つくる、クリエイティブ集団です</p>
	
	<div class="list">
		
		<div class="item"><a href="/service">
			<div class="photo" style="background-image: url(/assets/img/services/yadokari_mirasuma.png)"><img src="/assets/img/banner/banner_sumai.svg"></div>
			<div class="text"><h2>未来住まい方会議</h2><p>ちいさな暮らしを知る・体験する・実践するためのメディア</p></div>
		</a></div>
		
		<div class="item"><a href="/service">
			<div class="photo" style="background-image: url(/assets/img/services/about-1.png)"><img src="/assets/img/banner/banner_hataraki.svg"></div>
			<div class="text"><h2>未来働き方会議</h2><p>ちいさな暮らしを知る・体験する・実践するためのメディア</p></div>
		</a></div>
		
		<div class="item"><a href="/service">
			<div class="photo" style="background-image: url(/assets/img/services/hero.jpg)"><img src="/assets/img/banner/banner_tinys.svg"></div>
			<div class="text"><h2>Tinys</h2><p>ちいさな暮らしを知る・体験する・実践するためのメディア</p></div>
		</a></div>
		
		<div class="item"><a href="/service">
			<div class="photo" style="background-image: url(/assets/img/services/)"><img src="/assets/img/banner/banner_tinydesign.svg"></div>
			<div class="text"><h2>Tiny House Design 2018</h2><p>ちいさな暮らしを知る・体験する・実践するためのメディア</p></div>
		</a></div>
		
		<div class="item"><a href="/service">
			<div class="photo" style="background-image: url(/assets/img/services/)"><img src="/assets/img/banner/banner_orchestra.svg"></div>
			<div class="text"><h2>Tiny House Orchestra</h2><p>ちいさな暮らしを知る・体験する・実践するためのメディア</p></div>
		</a></div>
		
		<div class="item"><a href="/service">
			<div class="photo" style="background-image: url(/assets/img/services/)"><img src="/assets/img/banner/banner_skeletonhut.svg"></div>
			<div class="text"><h2>THE SKELETON HUT</h2><p>ちいさな暮らしを知る・体験する・実践するためのメディア</p></div>
		</a></div>
		
		<div class="item"><a href="/service">
			<div class="photo" style="background-image: url(/assets/img/services/)"><img src="/assets/img/banner/banner_inspiration.svg"></div>
			<div class="text"><h2>INSPIRATION</h2><p>ちいさな暮らしを知る・体験する・実践するためのメディア</p></div>
		</a></div>
		
		<div class="item"><a href="/service">
			<div class="photo" style="background-image: url(/assets/img/services/)"><img src="/assets/img/banner/banner_holiday.svg"></div>
			<div class="text"><h2>休日不動産</h2><p>ちいさな暮らしを知る・体験する・実践するためのメディア</p></div>
		</a></div>
		
		<div class="item"><a href="/service">
			<div class="photo" style="background-image: url()"><img src="/assets/img/banner/banner_tsukigime.svg"></div>
			<div class="text"><h2>月極本</h2><p>ちいさな暮らしを知る・体験する・実践するためのメディア</p></div>
		</a></div>
		
		<div class="item"><a href="/service">
			<div class="photo" style="background-image: url()"><img src="/assets/img/banner/banner_supporters.svg"></div>
			<div class="text"><h2>YADOKARI SUPPORTERS</h2><p>ちいさな暮らしを知る・体験する・実践するためのメディア</p></div>
		</a></div>
		
		<div class="item"><a href="/service">
			<div class="photo" style="background-image: url()"><img src="/assets/img/banner/banner_bettara.svg"></div>
			<div class="text"><h2>BETTARA STAND</h2><p>ちいさな暮らしを知る・体験する・実践するためのメディア</p></div>
		</a></div>
		
		<nav><a class="btn" href="/works">COMPANY PROFILE & WORKS</a></nav>
		
	</div>
	
</div></div>

</main>