---
title: 記事ページ
---



<main id="main" class="main archive"><div class="wrap">
	
	
	<aside class="posts">
		
		<h2>#家の可能性</h2>
		
		<div class="list masonry">
	      <article class="post large"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/1200x630.jpg"></div>
		      <div class="text"><h2>日本初！第2回「タイニーハウス デザインコンテスト2018 小菅村×YADOKARI」を開催！（応募登録 1/30 作品提出 3/31 まで）</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/Newberry4.jpg"></div>
		      <div class="text"><h2>ミレニアル世代の新ノマドスタイル。LA発のコ・リビングスペース「Podshare」</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/BouwExpo1-1024x795.jpg"></div>
		      <div class="text"><h2>【タイニーハウスに行ってみた】コンテスト入選作が実現した「BouwExpo Tiny Housing」</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/1200x630.jpg"></div>
		      <div class="text"><h2>日本初！第2回「タイニーハウス デザインコンテスト2018 小菅村×YADOKARI」を開催！（応募登録 1/30 作品提出 3/31 まで）</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/Newberry4.jpg"></div>
		      <div class="text"><h2>ミレニアル世代の新ノマドスタイル。LA発のコ・リビングスペース「Podshare」</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/BouwExpo1-1024x795.jpg"></div>
		      <div class="text"><h2>【タイニーハウスに行ってみた】コンテスト入選作が実現した「BouwExpo Tiny Housing」</h2></div>
	      </a></article>
	      <article class="post large"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/1200x630.jpg"></div>
		      <div class="text"><h2>日本初！第2回「タイニーハウス デザインコンテスト2018 小菅村×YADOKARI」を開催！（応募登録 1/30 作品提出 3/31 まで）</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/Newberry4.jpg"></div>
		      <div class="text"><h2>ミレニアル世代の新ノマドスタイル。LA発のコ・リビングスペース「Podshare」</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/BouwExpo1-1024x795.jpg"></div>
		      <div class="text"><h2>【タイニーハウスに行ってみた】コンテスト入選作が実現した「BouwExpo Tiny Housing」</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/1200x630.jpg"></div>
		      <div class="text"><h2>日本初！第2回「タイニーハウス デザインコンテスト2018 小菅村×YADOKARI」を開催！（応募登録 1/30 作品提出 3/31 まで）</h2></div>
	      </a></article>			
		</div>
		
		<nav class="pagingNav">
			
			<a 				class="prev"><i class="ion-ios-arrow-back"></i></a>
			
			<div class="pager">
				<a href="/list" class="num">1</a>
				<a href="/list" class="num active">2</a>
				<a href="/list" class="num">3</a>
				<a href="/list" class="num">…</a>
				<a href="/list" class="num">9</a>
			</div>
			
			
			<a href="/list" class="next"><i class="ion-ios-arrow-forward"></i></a>
			
		</nav>
		
	</aside>
	
</div></main>

