---
title: メンバープロフィールページ
---



<main id="main" class="main archive"><div class="wrap">
	
	
	<aside class="posts">
	
		<aside class="profile">
			<div class="photo"><img src="http://yadokari.net/wp-content/uploads/avatars/24/5805d9d7ca5f9-bpfull.jpg" class="avatar user-24-avatar avatar-70 gravatar" width="70" height="70" alt="Profile gravatar of 蜂谷智子"></div>
			<div class="text">
				<div class="name"><a href="/person">蜂谷智子</a>　／　フリーライター	</div>
				<div class="description">東京在住。夫と娘との３人暮らし。『未来住まい方会議』編集業のほか、フリーランスのライターとしても活動中。住に関するトピックを中心に、多媒体に執筆しています。最近は時間とスペースの使い方に、頭を悩ませる日々です。</div>
			</div>
		</aside>
					
		<div class="list">
		
		
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/1200x630.jpg"></div>
		      <div class="text"><h2>日本初！第2回「タイニーハウス デザインコンテスト2018 小菅村×YADOKARI」を開催！（応募登録 1/30 作品提出 3/31 まで）</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/Newberry4.jpg"></div>
		      <div class="text"><h2>ミレニアル世代の新ノマドスタイル。LA発のコ・リビングスペース「Podshare」</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/BouwExpo1-1024x795.jpg"></div>
		      <div class="text"><h2>【タイニーハウスに行ってみた】コンテスト入選作が実現した「BouwExpo Tiny Housing」</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/1200x630.jpg"></div>
		      <div class="text"><h2>日本初！第2回「タイニーハウス デザインコンテスト2018 小菅村×YADOKARI」を開催！（応募登録 1/30 作品提出 3/31 まで）</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/Newberry4.jpg"></div>
		      <div class="text"><h2>ミレニアル世代の新ノマドスタイル。LA発のコ・リビングスペース「Podshare」</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/BouwExpo1-1024x795.jpg"></div>
		      <div class="text"><h2>【タイニーハウスに行ってみた】コンテスト入選作が実現した「BouwExpo Tiny Housing」</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/1200x630.jpg"></div>
		      <div class="text"><h2>日本初！第2回「タイニーハウス デザインコンテスト2018 小菅村×YADOKARI」を開催！（応募登録 1/30 作品提出 3/31 まで）</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/Newberry4.jpg"></div>
		      <div class="text"><h2>ミレニアル世代の新ノマドスタイル。LA発のコ・リビングスペース「Podshare」</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/BouwExpo1-1024x795.jpg"></div>
		      <div class="text"><h2>【タイニーハウスに行ってみた】コンテスト入選作が実現した「BouwExpo Tiny Housing」</h2></div>
	      </a></article>
	      <article class="post"><a href="/post">
		      <div class="photo"><img src="/assets/img/dummy/1200x630.jpg"></div>
		      <div class="text"><h2>日本初！第2回「タイニーハウス デザインコンテスト2018 小菅村×YADOKARI」を開催！（応募登録 1/30 作品提出 3/31 まで）</h2></div>
	      </a></article>			
		</div>
		
		<nav class="pagingNav">
			
			<a 				class="prev"><i class="ion-ios-arrow-back"></i></a>
			
			<div class="pager">
				<a href="/list" class="num">1</a>
				<a href="/list" class="num active">2</a>
				<a href="/list" class="num">3</a>
				<a href="/list" class="num">…</a>
				<a href="/list" class="num">9</a>
			</div>
			
			
			<a href="/list" class="next"><i class="ion-ios-arrow-forward"></i></a>
			
		</nav>
		
	</aside>
	
</div></main>

