---
title: 記事ページ
---



<main id="main" class="main permalink"><div class="wrap">
	
	<article class="post">
		
		<header>
			<h2>ナガオカケンメイさん③ <br>仕事、生活、旅を同時進行する、<br>拠点としての家</h2>
			<div class="meta">
				<time>2018.3.11</time>
				<nav class="persons">
					<a href="/person">蜂谷智子</a>
				</nav>
				<nav class="categories">
					<a href="/list">インタビュー・対談</a>
					<a href="/list">特集：未来の住まい方</a>
				</nav>
			</div>
			<aside class="social">
				<div class="addthis_inline_share_toolbox"></div>
			</aside>
		</header>
		
		<div class="body">
			<figure id="attachment_49097" style="width: 620px" class="wp-caption alignnone"><img class="size-medium wp-image-49097" src="http://yadokari.net/wp-content/uploads/2016/11/okinawa_room-620x465.jpg" alt="ナガオカさんの沖縄の拠点。スタッフの方も宿泊することがあるという。" width="620" height="465" srcset="http://yadokari.net/wp-content/uploads/2016/11/okinawa_room-620x465.jpg 620w, http://yadokari.net/wp-content/uploads/2016/11/okinawa_room-768x576.jpg 768w, http://yadokari.net/wp-content/uploads/2016/11/okinawa_room-1024x768.jpg 1024w" sizes="(max-width: 620px) 100vw, 620px"><figcaption class="wp-caption-text">東京、静岡、沖縄と3つの拠点を持つナガオカさん。この写真に写る沖縄のマンションには、スタッフの方も宿泊することがあるという</figcaption></figure>
<p>デザイナーのナガオカケンメイさんにお話をうかがうインタビュー企画。第3回目の今回のテーマは、YADOKARIのフィールドである、家。</p>
<p>ライフスタイルショップD&amp;DEPARTMENTの創始者であるナガオカさんは「ロングライフデザイン」というコンセプトを提唱している。では、住まいにも「ロングライフデザイン」があるとしたらどのようなものなのだろうか。</p>
<p>ナガオカさん自身の3拠点ライフの過ごし方も含めて、うかがっていく。</p>
<ul>
	<li><a href="http://yadokari.net/interview/49051/">インタビュー①：暮らしの“真っ当”を未来へと引き継ぐD&amp;DEPARTMENTの挑戦</a></li>
	<li><a href="http://yadokari.net/interview/49082/">インタビュー②：未来の利益は、きっとお金ではない</a></li>
	<li><a href="http://yadokari.net/interview/49093/">インタビュー③：仕事、生活、旅を同時進行する、拠点としての家</a></li>
	<li><a href="http://yadokari.net/interview/49109/">インタビュー④：もしも日本各地に、スモールハウスで村を作ったら</a></li>
</ul>
<p></p>
<div class="entry-profile">
<div class="profile-img"><img class="aligncenter size-thumbnail wp-image-49151" src="http://yadokari.net/wp-content/uploads/2016/11/DSC06051-300x300.png" alt="" width="300" height="300"></div>
<div class="profile-name">ナガオカケンメイ</div>
<div class="profile-txt">デザイン活動家・1965年北海道室蘭生まれ2000年、東京世田谷に、ロングライフデザインをテーマとしたストア「D&amp;DEPARTMENT」を開始。2002年より「60VISION」(ロクマルビジョン)を発案し、60年代の廃番商品をリ・ブランディングするプロジェクトを進行中。2003年度グッドデザイン賞川崎和男審査委員長特別賞を受賞。日本のデザインを正しく購入できるストアインフラをイメージした「NIPPON PROJECT」を47都道府県に展開中。2009年より旅行文化誌『d design travel』を刊行。日本初の47都道府県をテーマとしたデザインミュージアム「d47 MUSEUM」館長。</div>
</div>
<h2>国内3拠点のどこでも仕事し、どこでもリラックスできる</h2>
<figure id="attachment_49069" style="width: 620px" class="wp-caption alignnone"><img class="size-medium wp-image-49069" src="http://yadokari.net/wp-content/uploads/2016/11/a4f2df87401dff1c73110f9dc8f7a226-620x412.jpg" alt="インタビューは奥沢にあるD&amp;DEPARTMENT TOKYOにて行われた 。左がナガオカケンメイさん。右手が「未来住まい方会議」編集部。 " width="620" height="412" srcset="http://yadokari.net/wp-content/uploads/2016/11/a4f2df87401dff1c73110f9dc8f7a226-620x412.jpg 620w, http://yadokari.net/wp-content/uploads/2016/11/a4f2df87401dff1c73110f9dc8f7a226-768x510.jpg 768w, http://yadokari.net/wp-content/uploads/2016/11/a4f2df87401dff1c73110f9dc8f7a226-1024x680.jpg 1024w" sizes="(max-width: 620px) 100vw, 620px"><figcaption class="wp-caption-text">インタビューは奥沢にあるD&amp;DEPARTMENT TOKYOにて行われた 。左がナガオカケンメイさん。右手が「未来住まい方会議」編集部</figcaption></figure>
<p><strong>——ナガオカさんは、東京、静岡、沖縄と3つの拠点で3つのお家にお住まいとうかがいました。それぞれ、用途や、家のインテリアを変えたりされているのですか。</strong></p>
<p><strong>ナガオカケンメイ氏（以下ナガオカ）：</strong>周囲の環境は全く違いますが、家の使い方は3軒とも全て同じです。日常をどんな環境で暮らしたいかを考えたとき、自然のない東京の真ん中ではリラックスできないと感じたんです。そこで自然に囲まれているところを探して、静岡になりました。また、時間の流れがゆっくりしているところに魅かれて、沖縄にも部屋を借り、そこには月に15日ほど滞在しています。</p>
<p><strong>——あえて東京と距離を置くことで、生活を編集する意図があるのでしょうか。たとえば東京で仕事に集中して、静岡では家族の時間を持ち、沖縄で内省するというような……。</strong></p>
<p><strong>ナガオカ：</strong>どこでも同じペースで仕事をして暮らしているので、そういった意識はないですね。僕だけでなく、東京だとリラックスできないと感じている人は多くて、だから休暇にリゾートホテルへと旅したりする。でも、別に旅で非日常に浸らなくても、普通に暮らしているなかでリラックスできればよいのではないかと思ったのです。ですから、僕は３つの拠点のどこでも仕事をして、どこでもリラックスする生活にしています。</p>
<p><strong>——同じペースで仕事をしていても、環境が変化することでリラックスできるようになる。仕事、生活、旅を同時進行しているような感じですね。</strong></p>
<p><strong>ナガオカ：</strong>使っている物も3つ揃えて、どこでも同じ生活ができるようにして。そういったことが最初は無駄だと思ったんですけど、実際に拠点を持つと、スタッフも仕事で沖縄の部屋を使っていたりもしますし、なかなかいいものです。</p>
<h2>経年変化を楽しむ、家のロングライフデザイン</h2>
<figure id="attachment_49099" style="width: 620px" class="wp-caption alignnone"><img class="size-medium wp-image-49099" src="http://yadokari.net/wp-content/uploads/2016/11/DSC03708-620x412.jpg" alt="D&amp;DEPARTMENT TOKYO　があるのは、重厚な雰囲気のヴィンテージマンションの一角。" width="620" height="412" srcset="http://yadokari.net/wp-content/uploads/2016/11/DSC03708-620x412.jpg 620w, http://yadokari.net/wp-content/uploads/2016/11/DSC03708-768x510.jpg 768w, http://yadokari.net/wp-content/uploads/2016/11/DSC03708-1024x681.jpg 1024w" sizes="(max-width: 620px) 100vw, 620px"><figcaption class="wp-caption-text">D&amp;DEPARTMENT TOKYO　があるのは、重厚な雰囲気のヴィンテージマンションの一角。窓枠や石を積んだ塀に味わいがある</figcaption></figure>
<p><strong>——全く違った環境を楽しみながらも、シームレスな日常を過ごすためのベースとなる家。そのハード面でのこだわりはあるのでしょうか。</strong></p>
<p><strong>ナガオカ：</strong>自分の性格としては、DIYなど、あれこれしたいと思うのですが、実際は時間もスキルもなくて難しい。だから、あらかじめセンスのあるものを選びます。建物を選んだところで8割方ゴールを切っていて、あとの2 割を自分の手でつくるバランスが、僕にとっては現実的。でも若い頃なら、ボロボロで、リノベでつくりあげるような物件を買ったかもしれません。そこは人それぞれですね。</p>
<p><strong>——8割完成していて、2割パーソナライズするというバランスは、多くの人にとって現実的だと思います。でも、ちょうどいい感じで8 割方完成している物件を見つけるのがなかなか難しい。予算の関係もありますが、たとえば都内の新築物件などだと、手の届くものは建具など安っぽい場合も多いのです。</strong></p>
<p><strong>ナガオカ：</strong>東京は場所性というか、エリアごとに個性があるから、建物には個性はなくてもよいかもしれないですね。5割ぐらい完成していて、ある程度手を加えることを前提とした家があってもよいのではないでしょうか。今は住宅メーカーのセンスで10割完成されてしまっていて、住む方は暮らしに無頓着になっている。住む人がパーソナライズする前提で、誰の色にも染まっていない無色透明な住宅を戸建ても含めてたくさん建ててあげるのも、いいかもしれません。</p>
<p><strong>——プレーンで、つくりのよいものをカスタマイズできるのは、理想ですね。このD&amp;DEPARTMENT TOKYOの店舗が入る建物も、すごくよいつくりのビンテージマンションです。質感がありながらシンプルな背景に、セレクトされた商品が映えています。</strong></p>
<p><strong>ナガオカ：</strong>ビンテージマンションは「昔これは高かっただろうな」と思わせるものを使っていることが、雰囲気のよさにつながっています。だから、ドアにしても、ハンドルにしても、シャワーのノズルにしても、1個1個渋くて愛着が持てる。結局のところ、住宅は質と価格のせめぎ合いで、見積もりの段階で一つひとつ妥協していくうちに、全体の雰囲気が損なわれていく。</p>
<p><strong>——悩ましいですね。何にお金をかけるかという部分で、便利さよりも建具に予算を割く選択も、あって欲しいと感じます。</strong></p>
<p><strong>ナガオカ：</strong>ある程度手入れする幅があるのも、大切です。僕は軽井沢の某有名新興リゾートを訪れたとき、そこが全て住宅用の新建材を使っていて、深く疑問を感じました。サッシひとつとっても、磨いてキープするようなものではなく、ボロボロになったら取り替えればよいという考えが透けて見える。長く続くよい建物とは、手入れすることで、きれいな状態が継続するものだと思います。</p>
<hr class="end-line">
<p>新建材は機能的に優れていて、かつ安価なものが次々と開発されている。ただ、それらは経年変化の美しさや、質感の重厚さなどの点では、まだまだ旧来の素材に劣ることも多いのが現実。どんどん新しい建材が開発され、交換していくことが前提のサイクルから少し距離を置くことは、住まいにロングライフデザインを取り入れる第一歩かもしれない。</p>
<p>YADOKARIがスモールハウスを開発したときも、質感と機能、そして価格のせめぎ合いに、どう落としどころを見つけるか、いつも悩み抜いている。たとえば、私たちが最初に作ったスモールハウス「<a href="http://inspiration.yadokari.net/">INSPIRATION</a>」は、窓に60万円をかけた。</p>
<p>販売価格250万円の家のうち、60万円が窓。一般的に流通しているものを使えば、15万円で済ませることもできるパーツだ。私たちが選んだ窓の価格帯は、建設費の配分としては、アンバランスかもしれない。しかし、大きな窓の開放感、気密性が高く、室内の温かさを保つ機能、そして木枠を使ったサッシの美しさを重視すれば、おのずと選択肢が絞られる……。結果的に富山の職人がひとつひとつ手作りしている、高価な窓を選択した。</p>
<p>ナガオカさんは、ご自身の専門ではない家のつくりについても、鋭い観察眼で私たちの悩みどころをズバリと言い当てているのだ。</p>
<p>次回は、YADOKARI×ENJOYWORKSで企画・開発した「<a href="http://skeletonhut.yadokari.net/">スケルトンハット</a>」をナガオカさんにプレゼン……？　ナガオカさん流スモールハウスの活用アイデアをうかがう。</p>
<p><a href="http://yadokari.net/interview/49093/"><br>
</a><a href="http://yadokari.net/interview/49109/">インタビュー④：もしも日本各地に、スモールハウスで村を作ったら</a>→</p>
		</div>
		
		<footer>
			
			<aside class="social">
				<div class="addthis_inline_share_toolbox"></div>
			</aside>
			<aside class="profile">
				
				<div class="photo"><img src="http://yadokari.net/wp-content/uploads/avatars/24/5805d9d7ca5f9-bpfull.jpg" class="avatar user-24-avatar avatar-70 gravatar" width="70" height="70" alt="Profile gravatar of 蜂谷智子"></div>
				<div class="text">
					<div class="name"><a href="/person">蜂谷智子</a>　／　フリーライター	</div>
					<div class="description">東京在住。夫と娘との３人暮らし。『未来住まい方会議』編集業のほか、フリーランスのライターとしても活動中。住に関するトピックを中心に、多媒体に執筆しています。最近は時間とスペースの使い方に、頭を悩ませる日々です。</div>
				</div>
				
			</aside>
			<nav class="relatedPosts">
				<a class="next" href="/post">
					<div class="photo"><img src="/assets/img/dummy/29314219_10214560413780569_7006368849905844224_o-1024x538.jpg"></div>
					<div class="text">インタビュー②：未来の利益は、きっとお金ではない</div>
				</a>
				<a class="prev" href="/post">
					<div class="photo"><img src="/assets/img/dummy/000257200034-1440x954.jpg"></div>
					<div class="text">インタビュー④：もしも日本各地に、スモールハウスで村を作ったら</div>
				</a>
			</nav>
			<aside class="issue hide-on-pc">
				<span class="en">ISSUE</span>
				<div class="issues">
					<a href="/list">小さな家で豊かに暮らす、タイニーハウスムーブメントを紐解く</a>
					<a href="/list">自然とつながる</a>
				</div>
			</aside>
			<aside class="hashtag hide-on-pc">
				<span class="en">HASHTAG</span>
				<div class="tags">
					<a href="/list">家の可能性</a>
					<a href="/list">場所にとらわれない</a>
					<a href="/list">時間は有限</a>
					<a href="/list">お金の価値</a>
					<a href="/list">新・家族のかたち</a>
					<a href="/list">自然とつながる</a>
					<a href="/list">モノとの距離</a>
				</div>
			</aside>
			<div class="quote hide-on-pc">
				<span class="en">QUOTE</span>
				<h2>日常から解き放たれたいけど、<br>時間の都合がつかない？</h2>
			</div>
			<nav class="btns">
		      	<a href="/list" class="btn"><span>未来住まい方会議<br>の記事をもっと見る</span></a>	
			  	<a href="/list" class="btn"><span>未来の住まい方<br>の記事をもっと見る</span></a>	
			</nav>
		</footer>
		
	</article>
	
	<aside class="postMeta hide-on-sp"><div class="fixed">
<!-- 		<img src="/assets/img/fixed.png"> -->

		<div class="quote"><span class="en">QUOTE</span><h2>日常から解き放たれたいけど、<br>時間の都合がつかない？</h2></div>
		<div class="category"><span class="en">CATEGORY</span><a href="/list">未来住まい方会議</a></div>
		<div class="issue">
			<span class="en">ISSUE</span>
			<div class="issues">
				<a href="/list">小さな家で豊かに暮らす、タイニーハウスムーブメントを紐解く</a>
				<a href="/list">自然とつながる</a>
			</div>
		</div>
		<nav class="hashtag">
			<span class="en">HASHTAG</span>
			<div class="tags">
				<a href="/list">家の可能性</a>
				<a href="/list">場所にとらわれない</a>
				<a href="/list">時間は有限</a>
				<a href="/list">お金の価値</a>
				<a href="/list">新・家族のかたち</a>
				<a href="/list">自然とつながる</a>
				<a href="/list">モノとの距離</a>
			</div>				
		</nav>
		
	</div></aside>
	
	
</div></main>

