---
title: WORKS
---



<main id="main" class="main archive works"><div class="wrap">
	
	
	<div class="posts works">
		
		<h2 class="en">WORKS</h2>
		<p>YADOKARIが手がけたプロジェクトのご紹介</p>
	
		<div class="list masonry">
	      <article class="post large"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>
	      <article class="post large"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>
	      <article class="post large"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/ycw_yadokari-300x300.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>横浜市 – YOKOHAMA CREATIVE WEEK</h2></div>
	      </a></article>		
		</div>
			
	</div>
	
	
	<div class="posts books">
		
		<h2 class="en">BOOKS</h2>
		<p>著書・出版</p>
	
		<div class="list masonry">
	      <article class="post large"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/aimumini2.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>三栄書房 – アイムミニマリスト –</h2></div>
	      </a></article>	
	      <article class="post large"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/aimumini2.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>三栄書房 – アイムミニマリスト –</h2></div>
	      </a></article>	
	      <article class="post large"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/aimumini2.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>三栄書房 – アイムミニマリスト –</h2></div>
	      </a></article>	
	      <article class="post large"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/aimumini2.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>三栄書房 – アイムミニマリスト –</h2></div>
	      </a></article>	
	      <article class="post large"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/aimumini2.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>三栄書房 – アイムミニマリスト –</h2></div>
	      </a></article>	
	      <article class="post large"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/aimumini2.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>三栄書房 – アイムミニマリスト –</h2></div>
	      </a></article>		
		</div>
	
			
	</div>
	
	
	<div class="posts media">
		
		<h2 class="en">Awards & Media</h2>
		<p>受賞歴・メディア掲載</p>
	
		<div class="list masonry">
	      <article class="post large"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/sasaz.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>ササビーリーグ – リアンプロジェクトファイナリスト入選 –</h2></div>
	      </a></article>	
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/sasaz.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>ササビーリーグ – リアンプロジェクトファイナリスト入選 –</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/sasaz.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>ササビーリーグ – リアンプロジェクトファイナリスト入選 –</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/sasaz.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>ササビーリーグ – リアンプロジェクトファイナリスト入選 –</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/sasaz.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>ササビーリーグ – リアンプロジェクトファイナリスト入選 –</h2></div>
	      </a></article>
	      <article class="post large"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/sasaz.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>ササビーリーグ – リアンプロジェクトファイナリスト入選 –</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/sasaz.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>ササビーリーグ – リアンプロジェクトファイナリスト入選 –</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/sasaz.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>ササビーリーグ – リアンプロジェクトファイナリスト入選 –</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/sasaz.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>ササビーリーグ – リアンプロジェクトファイナリスト入選 –</h2></div>
	      </a></article>
	      <article class="post"><a href="http://yadokari.net/works/works-works/48558/">
		      <div class="photo"><img src="http://yadokari.net/wp-content/uploads/2016/11/sasaz.png" alt="YOKOHAMA CREATIVE WEEK"></div>
		      <div class="text"><h2>ササビーリーグ – リアンプロジェクトファイナリスト入選 –</h2></div>
	      </a></article>			
		</div>
			
	</div>
	
		<header class="box">
			<h2 class="en">COMPANY</h2>
			<p>会社概要</p>
		</header>
		<div class="works-section__company-block">
		 	<p><img style="max-width: 220px;margin: 2rem auto;margin-bottom: 2rem; display: block;" src="/assets/img/yadokari_logo_horizontal.svg" alt="YADOKARI - みつけよう、これからの暮らしかた"></p>		 	
			<dl>
				<dt>社名</dt>
				<dd>YADOKARI株式会社（英文表記：YADOKARI Co. Ltd.）</dd>
				<dt>代表者</dt>
				<dd>共同代表取締役 さわだいっせい/ウエスギセイタ</dd>
				<dt>事業内容</dt>
				<dd>
					<ul>
						<li>メディア・出版物の企画・制作・運営</li>
						<li>建築の企画・プロデュース・設計施工</li>
						<li>宿泊施設・カフェの企画・運営</li>
						<li>ワークショップ・イベントの企画・運営</li>
					</ul>
				</dd>
				<dt>拠　点</dt>
				<dd>〒231-0066 神奈川県横浜市中区日ノ出町2-166先<br><a href="http://yadokari.net/" target="_blank">http://yadokari.net/</a></dd>
			</dl>
		</div>
		<nav style="margin-top: 2rem;">
		  <a class="btn en" href="http://testup.pw/yadokari/contact/">CONTACT</a>
		</nav>
	
</div></main>

